<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EntityEventNotification (com.hypixel.hytale.server.npc.blackboard.view.event)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/server/npc/blackboard/view/event/package-summary.html">com.hypixel.hytale.server.npc.blackboard.view.event</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">EntityEventNotification</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="EntityEventNotification.html" class="type-link">EntityEventNotification</a> extends <a href="EventNotification.html" class="type-link" data-class="EventNotification"><code>EventNotification</code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class EntityEventNotification. Provides entityeventnotification functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; EventNotification &gt; EntityEventNotification</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">flockReference</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Ref<EntityStore></span>
                    <span class="memberName">flockReference</span>
                </div>
                <div class="block">
                    <p>Field flockReference.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="getFlockReference">
                <h4 class="methodName">getFlockReference</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../component/Ref.html" class="type-link"><code>Ref<EntityStore></code></a></span>
                    <span class="memberName">getFlockReference</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getFlockReference.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setFlockReference">
                <h4 class="methodName">setFlockReference</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setFlockReference</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>final Ref<EntityStore></code></a> <span class="param-name">flockReference</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setFlockReference.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>final Ref<EntityStore></code></a> <b>flockReference</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>