<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EventTypeRegistration (com.hypixel.hytale.server.npc.blackboard.view.event)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/server/npc/blackboard/view/event/package-summary.html">com.hypixel.hytale.server.npc.blackboard.view.event</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">EventTypeRegistration</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="EventTypeRegistration.html" class="type-link">EventTypeRegistration</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class EventTypeRegistration. Provides eventtyperegistration functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; EventTypeRegistration</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">it</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">IntIterator</span>
                    <span class="memberName">it</span>
                </div>
                <div class="block">
                    <p>Field it.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">set</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">set</span>
                </div>
                <div class="block">
                    <p>Field set.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">initiator</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<EntityStore></span>
                    <span class="memberName">initiator</span>
                </div>
                <div class="block">
                    <p>Field initiator.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entities</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">List<Ref<EntityStore>></span>
                    <span class="memberName">entities</span>
                </div>
                <div class="block">
                    <p>Field entities.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entity</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<EntityStore></span>
                    <span class="memberName">entity</span>
                </div>
                <div class="block">
                    <p>Field entity.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">npc</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">NPCEntity</span>
                    <span class="memberName">npc</span>
                </div>
                <div class="block">
                    <p>Field npc.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="EventTypeRegistration">
                <h4 class="methodName">EventTypeRegistration</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">EventTypeRegistration</span>
                    <span class="arguments">(<span class="param"><code>final EventType</code> <span class="param-name">type</span></span>, <span class="param"><a href="../../../../../function/predicate/BiIntPredicate.html" class="type-link"><code>final BiIntPredicate</code></a> <span class="param-name">setTester</span></span>, <span class="param"><a href="IEventCallback.html" class="type-link"><code>final IEventCallback<EventType, NotificationType></code></a> <span class="param-name">eventCallback</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method EventTypeRegistration.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final EventType</code> <b>type</b></dd>
<dd><a href="../../../../../function/predicate/BiIntPredicate.html" class="type-link"><code>final BiIntPredicate</code></a> <b>setTester</b></dd>
<dd><a href="IEventCallback.html" class="type-link"><code>final IEventCallback<EventType, NotificationType></code></a> <b>eventCallback</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="initialiseEntity">
                <h4 class="methodName">initialiseEntity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">initialiseEntity</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><code>@Nonnull final IntSet</code> <span class="param-name">changeSets</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method initialiseEntity.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><code>@Nonnull final IntSet</code> <b>changeSets</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="ObjectArrayList">
                <h4 class="methodName">ObjectArrayList</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">ObjectArrayList</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method ObjectArrayList.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="relayEvent">
                <h4 class="methodName">relayEvent</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">relayEvent</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">senderTypeId</span></span>, <span class="param"><code>@Nonnull final NotificationType</code> <span class="param-name">reusableEventNotification</span></span>, <span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>final Ref<EntityStore></code></a> <span class="param-name">skipEntityReference</span></span>, <span class="param"><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <span class="param-name">componentAccessor</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method relayEvent.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>senderTypeId</b></dd>
<dd><code>@Nonnull final NotificationType</code> <b>reusableEventNotification</b></dd>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>final Ref<EntityStore></code></a> <b>skipEntityReference</b></dd>
<dd><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <b>componentAccessor</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getSetCount">
                <h4 class="methodName">getSetCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getSetCount</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSetCount.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="forEach">
                <h4 class="methodName">forEach</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">forEach</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../function/consumer/IntObjectConsumer.html" class="type-link"><code>@Nonnull final IntObjectConsumer<EventType></code></a> <span class="param-name">setConsumer</span></span>, <span class="param"><code>@Nonnull final Consumer<Ref<EntityStore>></code> <span class="param-name">npcConsumer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method forEach.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../function/consumer/IntObjectConsumer.html" class="type-link"><code>@Nonnull final IntObjectConsumer<EventType></code></a> <b>setConsumer</b></dd>
<dd><code>@Nonnull final Consumer<Ref<EntityStore>></code> <b>npcConsumer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="cleanup">
                <h4 class="methodName">cleanup</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">cleanup</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method cleanup.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>