<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeatherTracker (com.hypixel.hytale.builtin.weather.components)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../com/hypixel/hytale/builtin/weather/components/package-summary.html">com.hypixel.hytale.builtin.weather.components</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">WeatherTracker</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="WeatherTracker.html" class="type-link">WeatherTracker</a> implements <a href="../../../component/Component.html" class="type-link" data-class="Component"><code>Component<EntityStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class WeatherTracker. Provides weathertracker functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; WeatherTracker</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">environmentId</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">environmentId</span>
                </div>
                <div class="block">
                    <p>Field environmentId.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">firstSendForWorld</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">firstSendForWorld</span>
                </div>
                <div class="block">
                    <p>Field firstSendForWorld.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">forcedWeatherIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">forcedWeatherIndex</span>
                </div>
                <div class="block">
                    <p>Field forcedWeatherIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">weatherIndexForEnvironment</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">weatherIndexForEnvironment</span>
                </div>
                <div class="block">
                    <p>Field weatherIndexForEnvironment.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">vector</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">vector</span>
                </div>
                <div class="block">
                    <p>Field vector.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blockX</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">blockX</span>
                </div>
                <div class="block">
                    <p>Field blockX.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blockY</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">blockY</span>
                </div>
                <div class="block">
                    <p>Field blockY.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blockZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">blockZ</span>
                </div>
                <div class="block">
                    <p>Field blockZ.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkRef</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<ChunkStore></span>
                    <span class="memberName">chunkRef</span>
                </div>
                <div class="block">
                    <p>Field chunkRef.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">world</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">World</span>
                    <span class="memberName">world</span>
                </div>
                <div class="block">
                    <p>Field world.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkStore</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Store<ChunkStore></span>
                    <span class="memberName">chunkStore</span>
                </div>
                <div class="block">
                    <p>Field chunkStore.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blockChunkComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">BlockChunk</span>
                    <span class="memberName">blockChunkComponent</span>
                </div>
                <div class="block">
                    <p>Field blockChunkComponent.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">y</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">y</span>
                </div>
                <div class="block">
                    <p>Field y.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>WeatherTracker></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="WeatherTracker">
                <h4 class="methodName">WeatherTracker</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">WeatherTracker</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method WeatherTracker.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="updateWeather">
                <h4 class="methodName">updateWeather</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">updateWeather</span>
                    <span class="arguments">(<span class="param"><a href="../../../server/core/universe/PlayerRef.html" class="type-link"><code>@Nonnull final PlayerRef</code></a> <span class="param-name">playerRef</span></span>, <span class="param"><a href="../resources/WeatherResource.html" class="type-link"><code>@Nonnull final WeatherResource</code></a> <span class="param-name">weatherComponent</span></span>, <span class="param"><a href="../../../server/core/modules/entity/component/TransformComponent.html" class="type-link"><code>@Nonnull final TransformComponent</code></a> <span class="param-name">transformComponent</span></span>, <span class="param"><code>final float</code> <span class="param-name">transitionSeconds</span></span>, <span class="param"><a href="../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <span class="param-name">componentAccessor</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method updateWeather.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../server/core/universe/PlayerRef.html" class="type-link"><code>@Nonnull final PlayerRef</code></a> <b>playerRef</b></dd>
<dd><a href="../resources/WeatherResource.html" class="type-link"><code>@Nonnull final WeatherResource</code></a> <b>weatherComponent</b></dd>
<dd><a href="../../../server/core/modules/entity/component/TransformComponent.html" class="type-link"><code>@Nonnull final TransformComponent</code></a> <b>transformComponent</b></dd>
<dd><code>final float</code> <b>transitionSeconds</b></dd>
<dd><a href="../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <b>componentAccessor</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="sendWeatherIndex">
                <h4 class="methodName">sendWeatherIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">sendWeatherIndex</span>
                    <span class="arguments">(<span class="param"><a href="../../../server/core/universe/PlayerRef.html" class="type-link"><code>@Nonnull final PlayerRef</code></a> <span class="param-name">playerRef</span></span>, <span class="param"><code>int</code> <span class="param-name">weatherIndex</span></span>, <span class="param"><code>final float</code> <span class="param-name">transitionSeconds</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method sendWeatherIndex.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../server/core/universe/PlayerRef.html" class="type-link"><code>@Nonnull final PlayerRef</code></a> <b>playerRef</b></dd>
<dd><code>int</code> <b>weatherIndex</b></dd>
<dd><code>final float</code> <b>transitionSeconds</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="consumeFirstSendForWorld">
                <h4 class="methodName">consumeFirstSendForWorld</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">consumeFirstSendForWorld</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method consumeFirstSendForWorld.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="clear">
                <h4 class="methodName">clear</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">clear</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clear.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="updateEnvironment">
                <h4 class="methodName">updateEnvironment</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">updateEnvironment</span>
                    <span class="arguments">(<span class="param"><a href="../../../server/core/modules/entity/component/TransformComponent.html" class="type-link"><code>@Nonnull final TransformComponent</code></a> <span class="param-name">transformComponent</span></span>, <span class="param"><a href="../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <span class="param-name">componentAccessor</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method updateEnvironment.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../server/core/modules/entity/component/TransformComponent.html" class="type-link"><code>@Nonnull final TransformComponent</code></a> <b>transformComponent</b></dd>
<dd><a href="../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <b>componentAccessor</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getEnvironmentId">
                <h4 class="methodName">getEnvironmentId</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getEnvironmentId</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getEnvironmentId.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getWeatherIndex">
                <h4 class="methodName">getWeatherIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getWeatherIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getWeatherIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setWeatherIndex">
                <h4 class="methodName">setWeatherIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setWeatherIndex</span>
                    <span class="arguments">(<span class="param"><a href="../../../server/core/universe/PlayerRef.html" class="type-link"><code>@Nonnull final PlayerRef</code></a> <span class="param-name">playerRef</span></span>, <span class="param"><code>final int</code> <span class="param-name">weatherIndex</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setWeatherIndex.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../server/core/universe/PlayerRef.html" class="type-link"><code>@Nonnull final PlayerRef</code></a> <b>playerRef</b></dd>
<dd><code>final int</code> <b>weatherIndex</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../component/Component.html" class="type-link"><code>Component<EntityStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>