<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EntityEventSupport (com.hypixel.hytale.server.npc.components.messaging)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/server/npc/components/messaging/package-summary.html">com.hypixel.hytale.server.npc.components.messaging</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">EntityEventSupport</h2>
    </div>
    
    <div class="content">
        <pre class="signature">abstract class <a href="EntityEventSupport.html" class="type-link">EntityEventSupport</a> extends <a href="EventSupport.html" class="type-link" data-class="EventSupport"><code>EventSupport</code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class EntityEventSupport. Provides entityeventsupport functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; EventSupport &gt; EntityEventSupport</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">slot</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">EventMessage</span>
                    <span class="memberName">slot</span>
                </div>
                <div class="block">
                    <p>Field slot.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">parentEntityPosition</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">parentEntityPosition</span>
                </div>
                <div class="block">
                    <p>Field parentEntityPosition.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">pos</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">pos</span>
                </div>
                <div class="block">
                    <p>Field pos.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">x</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">x</span>
                </div>
                <div class="block">
                    <p>Field x.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">y</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">y</span>
                </div>
                <div class="block">
                    <p>Field y.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">z</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">z</span>
                </div>
                <div class="block">
                    <p>Field z.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">distanceSquared</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">distanceSquared</span>
                </div>
                <div class="block">
                    <p>Field distanceSquared.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">flockMembership</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">FlockMembership</span>
                    <span class="memberName">flockMembership</span>
                </div>
                <div class="block">
                    <p>Field flockMembership.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">flockReference</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<EntityStore></span>
                    <span class="memberName">flockReference</span>
                </div>
                <div class="block">
                    <p>Field flockReference.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">isSameFlock</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">isSameFlock</span>
                </div>
                <div class="block">
                    <p>Field isSameFlock.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">event</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">EventMessage</span>
                    <span class="memberName">event</span>
                </div>
                <div class="block">
                    <p>Field event.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="postMessage">
                <h4 class="methodName">postMessage</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">postMessage</span>
                    <span class="arguments">(<span class="param"><a href="../../blackboard/view/event/entity/EntityEventType.html" class="type-link"><code>final EntityEventType</code></a> <span class="param-name">type</span></span>, <span class="param"><a href="../../blackboard/view/event/EntityEventNotification.html" class="type-link"><code>@Nonnull final EntityEventNotification</code></a> <span class="param-name">notification</span></span>, <span class="param"><a href="../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">parent</span></span>, <span class="param"><a href="../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<EntityStore></code></a> <span class="param-name">store</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method postMessage.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../blackboard/view/event/entity/EntityEventType.html" class="type-link"><code>final EntityEventType</code></a> <b>type</b></dd>
<dd><a href="../../blackboard/view/event/EntityEventNotification.html" class="type-link"><code>@Nonnull final EntityEventNotification</code></a> <b>notification</b></dd>
<dd><a href="../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>parent</b></dd>
<dd><a href="../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<EntityStore></code></a> <b>store</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="hasFlockMatchingMessage">
                <h4 class="methodName">hasFlockMatchingMessage</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">hasFlockMatchingMessage</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">messageIndex</span></span>, <span class="param"><a href="../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <span class="param-name">parentPosition</span></span>, <span class="param"><code>final double</code> <span class="param-name">range</span></span>, <span class="param"><code>final boolean</code> <span class="param-name">flockOnly</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method hasFlockMatchingMessage.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>messageIndex</b></dd>
<dd><a href="../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <b>parentPosition</b></dd>
<dd><code>final double</code> <b>range</b></dd>
<dd><code>final boolean</code> <b>flockOnly</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>