<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EventSupport (com.hypixel.hytale.server.npc.components.messaging)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/server/npc/components/messaging/package-summary.html">com.hypixel.hytale.server.npc.components.messaging</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">EventSupport</h2>
    </div>
    
    <div class="content">
        <pre class="signature">abstract class <a href="EventSupport.html" class="type-link">EventSupport</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class EventSupport. Provides eventsupport functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; EventSupport</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">messageSlots</h4>
                <div class="memberSignature">
                    <span class="modifiers">protected</span>
                    <span class="returnType">EventMessage[]</span>
                    <span class="memberName">messageSlots</span>
                </div>
                <div class="block">
                    <p>Field messageSlots.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">slot</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">EventMessage</span>
                    <span class="memberName">slot</span>
                </div>
                <div class="block">
                    <p>Field slot.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">parentEntityPosition</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">parentEntityPosition</span>
                </div>
                <div class="block">
                    <p>Field parentEntityPosition.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">pos</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">pos</span>
                </div>
                <div class="block">
                    <p>Field pos.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">x</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">x</span>
                </div>
                <div class="block">
                    <p>Field x.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">y</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">y</span>
                </div>
                <div class="block">
                    <p>Field y.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">z</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">z</span>
                </div>
                <div class="block">
                    <p>Field z.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">distanceSquared</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">distanceSquared</span>
                </div>
                <div class="block">
                    <p>Field distanceSquared.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">typeSlots</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Int2IntMap</span>
                    <span class="memberName">typeSlots</span>
                </div>
                <div class="block">
                    <p>Field typeSlots.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">slotIdx</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">slotIdx</span>
                </div>
                <div class="block">
                    <p>Field slotIdx.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">event</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">EventMessage</span>
                    <span class="memberName">event</span>
                </div>
                <div class="block">
                    <p>Field event.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">messages</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">EventMessage[]</span>
                    <span class="memberName">messages</span>
                </div>
                <div class="block">
                    <p>Field messages.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="postMessage">
                <h4 class="methodName">postMessage</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">postMessage</span>
                    <span class="arguments">(<span class="param"><code>final EventType</code> <span class="param-name">type</span></span>, <span class="param"><code>@Nonnull final NotificationType</code> <span class="param-name">notification</span></span>, <span class="param"><a href="../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">parent</span></span>, <span class="param"><a href="../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<EntityStore></code></a> <span class="param-name">store</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method postMessage.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final EventType</code> <b>type</b></dd>
<dd><code>@Nonnull final NotificationType</code> <b>notification</b></dd>
<dd><a href="../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>parent</b></dd>
<dd><a href="../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<EntityStore></code></a> <b>store</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getMessageSlot">
                <h4 class="methodName">getMessageSlot</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="EventMessage.html" class="type-link"><code>EventMessage</code></a></span>
                    <span class="memberName">getMessageSlot</span>
                    <span class="arguments">(<span class="param"><code>final EventType</code> <span class="param-name">type</span></span>, <span class="param"><code>@Nonnull final NotificationType</code> <span class="param-name">notification</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getMessageSlot.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final EventType</code> <b>type</b></dd>
<dd><code>@Nonnull final NotificationType</code> <b>notification</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="hasMatchingMessage">
                <h4 class="methodName">hasMatchingMessage</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">hasMatchingMessage</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">messageIndex</span></span>, <span class="param"><a href="../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <span class="param-name">parentPosition</span></span>, <span class="param"><code>final double</code> <span class="param-name">range</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method hasMatchingMessage.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>messageIndex</b></dd>
<dd><a href="../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <b>parentPosition</b></dd>
<dd><code>final double</code> <b>range</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="pollMessage">
                <h4 class="methodName">pollMessage</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../component/Ref.html" class="type-link"><code>Ref<EntityStore></code></a></span>
                    <span class="memberName">pollMessage</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">messageIndex</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method pollMessage.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>messageIndex</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="initialise">
                <h4 class="methodName">initialise</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">initialise</span>
                    <span class="arguments">(<span class="param"><code>final Map<EventType, Int2IntMap></code> <span class="param-name">setIndices</span></span>, <span class="param"><code>@Nonnull final Int2DoubleMap</code> <span class="param-name">messageRanges</span></span>, <span class="param"><code>final int</code> <span class="param-name">count</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method initialise.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final Map<EventType, Int2IntMap></code> <b>setIndices</b></dd>
<dd><code>@Nonnull final Int2DoubleMap</code> <b>messageRanges</b></dd>
<dd><code>final int</code> <b>count</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="EventMessage">
                <h4 class="methodName">EventMessage</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">EventMessage</span>
                    <span class="arguments">(<span class="param">messageRanges.get(i</span>)</span>
                </div>
                <div class="block">
                    <p>Method EventMessage.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>messageRanges.get(i</code> <b>messageRanges.get(i</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="cloneTo">
                <h4 class="methodName">cloneTo</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">cloneTo</span>
                    <span class="arguments">(<span class="param"><a href="EventSupport.html" class="type-link"><code>@Nonnull final EventSupport<EventType, NotificationType></code></a> <span class="param-name">other</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method cloneTo.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="EventSupport.html" class="type-link"><code>@Nonnull final EventSupport<EventType, NotificationType></code></a> <b>other</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getMessageSlots">
                <h4 class="methodName">getMessageSlots</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>NPCMessage[]</code></span>
                    <span class="memberName">getMessageSlots</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getMessageSlots.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>