<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayerBlockEventSupport (com.hypixel.hytale.server.npc.components.messaging)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/server/npc/components/messaging/package-summary.html">com.hypixel.hytale.server.npc.components.messaging</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">PlayerBlockEventSupport</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="PlayerBlockEventSupport.html" class="type-link">PlayerBlockEventSupport</a> extends <a href="EventSupport.html" class="type-link" data-class="EventSupport"><code>EventSupport</code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class PlayerBlockEventSupport. Provides playerblockeventsupport functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; EventSupport &gt; PlayerBlockEventSupport</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">support</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">PlayerBlockEventSupport</span>
                    <span class="memberName">support</span>
                </div>
                <div class="block">
                    <p>Field support.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>PlayerBlockEventSupport></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../component/Component.html" class="type-link"><code>Component<EntityStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>