<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DependencyGraph (com.hypixel.hytale.component.dependency)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../com/hypixel/hytale/component/dependency/package-summary.html">com.hypixel.hytale.component.dependency</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">DependencyGraph</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="DependencyGraph.html" class="type-link">DependencyGraph</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class DependencyGraph. Provides dependencygraph functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; DependencyGraph</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">edges</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Edge<ECS_TYPE>[]</span>
                    <span class="memberName">edges</span>
                </div>
                <div class="block">
                    <p>Field edges.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">system</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ISystem<ECS_TYPE></span>
                    <span class="memberName">system</span>
                </div>
                <div class="block">
                    <p>Field system.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">index</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">index</span>
                </div>
                <div class="block">
                    <p>Field index.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">oldLength</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">oldLength</span>
                </div>
                <div class="block">
                    <p>Field oldLength.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newLength</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newLength</span>
                </div>
                <div class="block">
                    <p>Field newLength.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">fulfilled</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">fulfilled</span>
                </div>
                <div class="block">
                    <p>Field fulfilled.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">resolved</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">resolved</span>
                </div>
                <div class="block">
                    <p>Field resolved.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="DependencyGraph">
                <h4 class="methodName">DependencyGraph</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">DependencyGraph</span>
                    <span class="arguments">(<span class="param"><a href="../system/ISystem.html" class="type-link"><code>@Nonnull final ISystem<ECS_TYPE>[]</code></a> <span class="param-name">systems</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method DependencyGraph.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../system/ISystem.html" class="type-link"><code>@Nonnull final ISystem<ECS_TYPE>[]</code></a> <b>systems</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getSystems">
                <h4 class="methodName">getSystems</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../system/ISystem.html" class="type-link"><code>ISystem<ECS_TYPE>[]</code></a></span>
                    <span class="memberName">getSystems</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSystems.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="resolveEdges">
                <h4 class="methodName">resolveEdges</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">resolveEdges</span>
                    <span class="arguments">(<span class="param"><a href="..//ComponentRegistry.html" class="type-link"><code>@Nonnull final ComponentRegistry<ECS_TYPE></code></a> <span class="param-name">registry</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method resolveEdges.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="..//ComponentRegistry.html" class="type-link"><code>@Nonnull final ComponentRegistry<ECS_TYPE></code></a> <b>registry</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="addEdgeFromRoot">
                <h4 class="methodName">addEdgeFromRoot</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">addEdgeFromRoot</span>
                    <span class="arguments">(<span class="param"><a href="../system/ISystem.html" class="type-link"><code>@Nonnull final ISystem<ECS_TYPE></code></a> <span class="param-name">afterSystem</span></span>, <span class="param"><code>final int</code> <span class="param-name">priority</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addEdgeFromRoot.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../system/ISystem.html" class="type-link"><code>@Nonnull final ISystem<ECS_TYPE></code></a> <b>afterSystem</b></dd>
<dd><code>final int</code> <b>priority</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="addEdge">
                <h4 class="methodName">addEdge</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">addEdge</span>
                    <span class="arguments">(<span class="param"><a href="../system/ISystem.html" class="type-link"><code>@Nonnull final ISystem<ECS_TYPE></code></a> <span class="param-name">beforeSystem</span></span>, <span class="param"><a href="../system/ISystem.html" class="type-link"><code>@Nonnull final ISystem<ECS_TYPE></code></a> <span class="param-name">afterSystem</span></span>, <span class="param"><code>final int</code> <span class="param-name">priority</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addEdge.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../system/ISystem.html" class="type-link"><code>@Nonnull final ISystem<ECS_TYPE></code></a> <b>beforeSystem</b></dd>
<dd><a href="../system/ISystem.html" class="type-link"><code>@Nonnull final ISystem<ECS_TYPE></code></a> <b>afterSystem</b></dd>
<dd><code>final int</code> <b>priority</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="sort">
                <h4 class="methodName">sort</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">sort</span>
                    <span class="arguments">(<span class="param"><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE>[]</code></a> <span class="param-name">sortedSystems</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method sort.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE>[]</code></a> <b>sortedSystems</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="IllegalArgumentException">
                <h4 class="methodName">IllegalArgumentException</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">IllegalArgumentException</span>
                    <span class="arguments">(<span class="param"><code>"Found a cyclic dependency!" +</code> <span class="param-name">String.valueOf(this</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method IllegalArgumentException.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>"Found a cyclic dependency!" +</code> <b>String.valueOf(this</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="hasEdgeOfLaterPriority">
                <h4 class="methodName">hasEdgeOfLaterPriority</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">hasEdgeOfLaterPriority</span>
                    <span class="arguments">(<span class="param"><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <span class="param-name">system</span></span>, <span class="param"><code>final int</code> <span class="param-name">priority</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method hasEdgeOfLaterPriority.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <b>system</b></dd>
<dd><code>final int</code> <b>priority</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="resolveEdgesFor">
                <h4 class="methodName">resolveEdgesFor</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">resolveEdgesFor</span>
                    <span class="arguments">(<span class="param"><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <span class="param-name">system</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method resolveEdgesFor.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <b>system</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="fulfillEdgesFor">
                <h4 class="methodName">fulfillEdgesFor</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">fulfillEdgesFor</span>
                    <span class="arguments">(<span class="param"><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <span class="param-name">system</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method fulfillEdgesFor.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <b>system</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="toString">
                <h4 class="methodName">toString</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">toString</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method toString.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="emptyArray">
                <h4 class="methodName">emptyArray</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><a href="../../server/core/asset/type/trail/config/Edge.html" class="type-link"><code>Edge<ECS_TYPE>[]</code></a></span>
                    <span class="memberName">emptyArray</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method emptyArray.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="Edge">
                <h4 class="methodName">Edge</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">Edge</span>
                    <span class="arguments">(<span class="param"><a href="../system/ISystem.html" class="type-link"><code>@Nullable final ISystem<ECS_TYPE></code></a> <span class="param-name">beforeSystem</span></span>, <span class="param"><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <span class="param-name">afterSystem</span></span>, <span class="param"><code>final int</code> <span class="param-name">priority</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method Edge.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../system/ISystem.html" class="type-link"><code>@Nullable final ISystem<ECS_TYPE></code></a> <b>beforeSystem</b></dd>
<dd><a href="../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <b>afterSystem</b></dd>
<dd><code>final int</code> <b>priority</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="compareTo">
                <h4 class="methodName">compareTo</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">compareTo</span>
                    <span class="arguments">(<span class="param"><a href="../../server/core/asset/type/trail/config/Edge.html" class="type-link"><code>@Nonnull final Edge<ECS_TYPE></code></a> <span class="param-name">o</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method compareTo.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../server/core/asset/type/trail/config/Edge.html" class="type-link"><code>@Nonnull final Edge<ECS_TYPE></code></a> <b>o</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>