<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArchetypeChunk (com.hypixel.hytale.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../overview.html">Overview</a> &gt;
            <a href="../../../../com/hypixel/hytale/component/package-summary.html">com.hypixel.hytale.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">ArchetypeChunk</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="ArchetypeChunk.html" class="type-link">ArchetypeChunk</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class ArchetypeChunk. Provides archetypechunk functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; ArchetypeChunk</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">entitiesSize</h4>
                <div class="memberSignature">
                    <span class="modifiers">protected</span>
                    <span class="returnType">int</span>
                    <span class="memberName">entitiesSize</span>
                </div>
                <div class="block">
                    <p>Field entitiesSize.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">refs</h4>
                <div class="memberSignature">
                    <span class="modifiers">protected</span>
                    <span class="returnType">Ref<ECS_TYPE>[]</span>
                    <span class="memberName">refs</span>
                </div>
                <div class="block">
                    <p>Field refs.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">components</h4>
                <div class="memberSignature">
                    <span class="modifiers">protected</span>
                    <span class="returnType">Component<ECS_TYPE>[][]</span>
                    <span class="memberName">components</span>
                </div>
                <div class="block">
                    <p>Field components.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entityIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">entityIndex</span>
                </div>
                <div class="block">
                    <p>Field entityIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">oldLength</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">oldLength</span>
                </div>
                <div class="block">
                    <p>Field oldLength.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newLength</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newLength</span>
                </div>
                <div class="block">
                    <p>Field newLength.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">componentTypeIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">componentTypeIndex</span>
                </div>
                <div class="block">
                    <p>Field componentTypeIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entityComponents</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Component<ECS_TYPE>[]</span>
                    <span class="memberName">entityComponents</span>
                </div>
                <div class="block">
                    <p>Field entityComponents.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">component</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Component<ECS_TYPE></span>
                    <span class="memberName">component</span>
                </div>
                <div class="block">
                    <p>Field component.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">serializableArchetype</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Archetype<ECS_TYPE></span>
                    <span class="memberName">serializableArchetype</span>
                </div>
                <div class="block">
                    <p>Field serializableArchetype.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">lastIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">lastIndex</span>
                </div>
                <div class="block">
                    <p>Field lastIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">ref</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<ECS_TYPE></span>
                    <span class="memberName">ref</span>
                </div>
                <div class="block">
                    <p>Field ref.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newEntityIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newEntityIndex</span>
                </div>
                <div class="block">
                    <p>Field newEntityIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newSize</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newSize</span>
                </div>
                <div class="block">
                    <p>Field newSize.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">componentArr</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Component<ECS_TYPE>[]</span>
                    <span class="memberName">componentArr</span>
                </div>
                <div class="block">
                    <p>Field componentArr.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="emptyArray">
                <h4 class="methodName">emptyArray</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><a href="ArchetypeChunk.html" class="type-link"><code>ArchetypeChunk<ECS_TYPE>[]</code></a></span>
                    <span class="memberName">emptyArray</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method emptyArray.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="ArchetypeChunk">
                <h4 class="methodName">ArchetypeChunk</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">ArchetypeChunk</span>
                    <span class="arguments">(<span class="param"><a href="Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <span class="param-name">store</span></span>, <span class="param"><a href="Archetype.html" class="type-link"><code>@Nonnull final Archetype<ECS_TYPE></code></a> <span class="param-name">archetype</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method ArchetypeChunk.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <b>store</b></dd>
<dd><a href="Archetype.html" class="type-link"><code>@Nonnull final Archetype<ECS_TYPE></code></a> <b>archetype</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getArchetype">
                <h4 class="methodName">getArchetype</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="Archetype.html" class="type-link"><code>Archetype<ECS_TYPE></code></a></span>
                    <span class="memberName">getArchetype</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getArchetype.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="size">
                <h4 class="methodName">size</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">size</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method size.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getReferenceTo">
                <h4 class="methodName">getReferenceTo</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="Ref.html" class="type-link"><code>Ref<ECS_TYPE></code></a></span>
                    <span class="memberName">getReferenceTo</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">index</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getReferenceTo.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>index</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="setComponent">
                <h4 class="methodName">setComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setComponent</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">index</span></span>, <span class="param"><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, T></code></a> <span class="param-name">componentType</span></span>, <span class="param"><code>@Nonnull final T</code> <span class="param-name">component</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setComponent.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>index</b></dd>
<dd><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, T></code></a> <b>componentType</b></dd>
<dd><code>@Nonnull final T</code> <b>component</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="IllegalArgumentException">
                <h4 class="methodName">IllegalArgumentException</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">IllegalArgumentException</span>
                    <span class="arguments">(<span class="param"><code>"Entity doesn't have component type " +</code> <span class="param-name">String.valueOf(componentType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method IllegalArgumentException.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>"Entity doesn't have component type " +</code> <b>String.valueOf(componentType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getComponent">
                <h4 class="methodName">getComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>T</code></span>
                    <span class="memberName">getComponent</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">index</span></span>, <span class="param"><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, T></code></a> <span class="param-name">componentType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getComponent.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>index</b></dd>
<dd><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, T></code></a> <b>componentType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="addEntity">
                <h4 class="methodName">addEntity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">addEntity</span>
                    <span class="arguments">(<span class="param"><a href="Ref.html" class="type-link"><code>@Nonnull final Ref<ECS_TYPE></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <span class="param-name">holder</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addEntity.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Ref.html" class="type-link"><code>@Nonnull final Ref<ECS_TYPE></code></a> <b>ref</b></dd>
<dd><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <b>holder</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="copyEntity">
                <h4 class="methodName">copyEntity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="Holder.html" class="type-link"><code>Holder<ECS_TYPE></code></a></span>
                    <span class="memberName">copyEntity</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">entityIndex</span></span>, <span class="param"><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <span class="param-name">target</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method copyEntity.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>entityIndex</b></dd>
<dd><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <b>target</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="copySerializableEntity">
                <h4 class="methodName">copySerializableEntity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="Holder.html" class="type-link"><code>Holder<ECS_TYPE></code></a></span>
                    <span class="memberName">copySerializableEntity</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final ComponentRegistry.Data<ECS_TYPE></code> <span class="param-name">data</span></span>, <span class="param"><code>final int</code> <span class="param-name">entityIndex</span></span>, <span class="param"><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <span class="param-name">target</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method copySerializableEntity.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final ComponentRegistry.Data<ECS_TYPE></code> <b>data</b></dd>
<dd><code>final int</code> <b>entityIndex</b></dd>
<dd><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <b>target</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="removeEntity">
                <h4 class="methodName">removeEntity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="Holder.html" class="type-link"><code>Holder<ECS_TYPE></code></a></span>
                    <span class="memberName">removeEntity</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">entityIndex</span></span>, <span class="param"><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <span class="param-name">target</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method removeEntity.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>entityIndex</b></dd>
<dd><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <b>target</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="transferTo">
                <h4 class="methodName">transferTo</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">transferTo</span>
                    <span class="arguments">(<span class="param"><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <span class="param-name">tempInternalEntityHolder</span></span>, <span class="param"><a href="ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <span class="param-name">chunk</span></span>, <span class="param"><code>@Nonnull final Consumer<Holder<ECS_TYPE>></code> <span class="param-name">modification</span></span>, <span class="param"><a href="../function/consumer/IntObjectConsumer.html" class="type-link"><code>@Nonnull final IntObjectConsumer<Ref<ECS_TYPE>></code></a> <span class="param-name">referenceConsumer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method transferTo.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <b>tempInternalEntityHolder</b></dd>
<dd><a href="ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <b>chunk</b></dd>
<dd><code>@Nonnull final Consumer<Holder<ECS_TYPE>></code> <b>modification</b></dd>
<dd><a href="../function/consumer/IntObjectConsumer.html" class="type-link"><code>@Nonnull final IntObjectConsumer<Ref<ECS_TYPE>></code></a> <b>referenceConsumer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="transferSomeTo">
                <h4 class="methodName">transferSomeTo</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">transferSomeTo</span>
                    <span class="arguments">(<span class="param"><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <span class="param-name">tempInternalEntityHolder</span></span>, <span class="param"><a href="ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <span class="param-name">chunk</span></span>, <span class="param"><code>@Nonnull final IntPredicate</code> <span class="param-name">shouldTransfer</span></span>, <span class="param"><code>@Nonnull final Consumer<Holder<ECS_TYPE>></code> <span class="param-name">modification</span></span>, <span class="param"><a href="../function/consumer/IntObjectConsumer.html" class="type-link"><code>@Nonnull final IntObjectConsumer<Ref<ECS_TYPE>></code></a> <span class="param-name">referenceConsumer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method transferSomeTo.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Holder.html" class="type-link"><code>@Nonnull final Holder<ECS_TYPE></code></a> <b>tempInternalEntityHolder</b></dd>
<dd><a href="ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <b>chunk</b></dd>
<dd><code>@Nonnull final IntPredicate</code> <b>shouldTransfer</b></dd>
<dd><code>@Nonnull final Consumer<Holder<ECS_TYPE>></code> <b>modification</b></dd>
<dd><a href="../function/consumer/IntObjectConsumer.html" class="type-link"><code>@Nonnull final IntObjectConsumer<Ref<ECS_TYPE>></code></a> <b>referenceConsumer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="fillEmptyIndex">
                <h4 class="methodName">fillEmptyIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">protected</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">fillEmptyIndex</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">entityIndex</span></span>, <span class="param"><code>final int</code> <span class="param-name">lastIndex</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method fillEmptyIndex.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>entityIndex</b></dd>
<dd><code>final int</code> <b>lastIndex</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="appendDump">
                <h4 class="methodName">appendDump</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">appendDump</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final String</code> <span class="param-name">prefix</span></span>, <span class="param"><code>@Nonnull final StringBuilder</code> <span class="param-name">sb</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method appendDump.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final String</code> <b>prefix</b></dd>
<dd><code>@Nonnull final StringBuilder</code> <b>sb</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="toString">
                <h4 class="methodName">toString</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">toString</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method toString.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>