<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archetype (com.hypixel.hytale.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../overview-frame.html">Overview</a> &gt; 
            <a href="../../../../com/hypixel/hytale/component/package-summary.html">com.hypixel.hytale.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">Archetype</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="Archetype.html" class="type-link">Archetype</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Defines a set of component types for entity grouping.
            Entities are organized into archetypes for cache-efficient
            iteration and querying. Each archetype represents a unique
            combination of component types.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; Archetype</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">index</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">index</span>
                </div>
                <div class="block">
                    <p>Field index.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">component</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Component<ECS_TYPE></span>
                    <span class="memberName">component</span>
                </div>
                <div class="block">
                    <p>Field component.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">typeClass</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Class<?></span>
                    <span class="memberName">typeClass</span>
                </div>
                <div class="block">
                    <p>Field typeClass.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">registry</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ComponentRegistry<ECS_TYPE></span>
                    <span class="memberName">registry</span>
                </div>
                <div class="block">
                    <p>Field registry.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">minIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">minIndex</span>
                </div>
                <div class="block">
                    <p>Field minIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newLength</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newLength</span>
                </div>
                <div class="block">
                    <p>Field newLength.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">oldLength</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">oldLength</span>
                </div>
                <div class="block">
                    <p>Field oldLength.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">oldMinIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">oldMinIndex</span>
                </div>
                <div class="block">
                    <p>Field oldMinIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">oldMaxIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">oldMaxIndex</span>
                </div>
                <div class="block">
                    <p>Field oldMaxIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newCount</span>
                </div>
                <div class="block">
                    <p>Field newCount.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">archetype</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Archetype<?></span>
                    <span class="memberName">archetype</span>
                </div>
                <div class="block">
                    <p>Field archetype.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="empty">
                <h4 class="methodName">empty</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><a href="Archetype.html" class="type-link"><code>Archetype<ECS_TYPE></code></a></span>
                    <span class="memberName">empty</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method empty.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="Archetype">
                <h4 class="methodName">Archetype</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>private</code></span>
                    <span class="memberName">Archetype</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">minIndex</span></span>, <span class="param"><code>final int</code> <span class="param-name">count</span></span>, <span class="param"><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?>[]</code></a> <span class="param-name">componentTypes</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method Archetype.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>minIndex</b></dd>
<dd><code>final int</code> <b>count</b></dd>
<dd><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?>[]</code></a> <b>componentTypes</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getMinIndex">
                <h4 class="methodName">getMinIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getMinIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getMinIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="count">
                <h4 class="methodName">count</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">count</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method count.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="length">
                <h4 class="methodName">length</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">length</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method length.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="get">
                <h4 class="methodName">get</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>?></code></span>
                    <span class="memberName">get</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">index</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method get.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>index</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="isEmpty">
                <h4 class="methodName">isEmpty</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isEmpty</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isEmpty.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="contains">
                <h4 class="methodName">contains</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">contains</span>
                    <span class="arguments">(<span class="param"><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?></code></a> <span class="param-name">componentType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method contains.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?></code></a> <b>componentType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="validateComponentType">
                <h4 class="methodName">validateComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">validateComponentType</span>
                    <span class="arguments">(<span class="param"><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?></code></a> <span class="param-name">componentType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method validateComponentType.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?></code></a> <b>componentType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="IllegalArgumentException">
                <h4 class="methodName">IllegalArgumentException</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">IllegalArgumentException</span>
                    <span class="arguments">(<span class="param"><code>"ComponentType is not in archetype: " +</code> <span class="param-name">String.valueOf(componentType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method IllegalArgumentException.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>"ComponentType is not in archetype: " +</code> <b>String.valueOf(componentType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="validateComponents">
                <h4 class="methodName">validateComponents</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">validateComponents</span>
                    <span class="arguments">(<span class="param"><a href="Component.html" class="type-link"><code>@Nonnull final Component<ECS_TYPE>[]</code></a> <span class="param-name">components</span></span>, <span class="param"><a href="ComponentType.html" class="type-link"><code>@Nullable final ComponentType<ECS_TYPE, UnknownComponents<ECS_TYPE>></code></a> <span class="param-name">ignore</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method validateComponents.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Component.html" class="type-link"><code>@Nonnull final Component<ECS_TYPE>[]</code></a> <b>components</b></dd>
<dd><a href="ComponentType.html" class="type-link"><code>@Nullable final ComponentType<ECS_TYPE, UnknownComponents<ECS_TYPE>></code></a> <b>ignore</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="IllegalStateException">
                <h4 class="methodName">IllegalStateException</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">IllegalStateException</span>
                    <span class="arguments">(<span class="param"><code>"Invalid component at index " + index + " expected null but found " +</code> <span class="param-name">String.valueOf(component.getClass(</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method IllegalStateException.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>"Invalid component at index " + index + " expected null but found " +</code> <b>String.valueOf(component.getClass(</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="hasSerializableComponents">
                <h4 class="methodName">hasSerializableComponents</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">hasSerializableComponents</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final ComponentRegistry.Data<ECS_TYPE></code> <span class="param-name">data</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method hasSerializableComponents.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final ComponentRegistry.Data<ECS_TYPE></code> <b>data</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getSerializableArchetype">
                <h4 class="methodName">getSerializableArchetype</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="Archetype.html" class="type-link"><code>Archetype<ECS_TYPE></code></a></span>
                    <span class="memberName">getSerializableArchetype</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final ComponentRegistry.Data<ECS_TYPE></code> <span class="param-name">data</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getSerializableArchetype.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final ComponentRegistry.Data<ECS_TYPE></code> <b>data</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="asExactQuery">
                <h4 class="methodName">asExactQuery</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="query/ExactArchetypeQuery.html" class="type-link"><code>ExactArchetypeQuery<ECS_TYPE></code></a></span>
                    <span class="memberName">asExactQuery</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method asExactQuery.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="of">
                <h4 class="methodName">of</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><a href="Archetype.html" class="type-link"><code>Archetype<ECS_TYPE></code></a></span>
                    <span class="memberName">of</span>
                    <span class="arguments">(<span class="param"><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?></code></a> <span class="param-name">componentTypes</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method of.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?></code></a> <b>componentTypes</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="add">
                <h4 class="methodName">add</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="Archetype.html" class="type-link"><code>Archetype<ECS_TYPE></code></a></span>
                    <span class="memberName">add</span>
                    <span class="arguments">(<span class="param"><a href="Archetype.html" class="type-link"><code>@Nonnull final Archetype<ECS_TYPE></code></a> <span class="param-name">archetype</span></span>, <span class="param"><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, T></code></a> <span class="param-name">componentType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method add.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Archetype.html" class="type-link"><code>@Nonnull final Archetype<ECS_TYPE></code></a> <b>archetype</b></dd>
<dd><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, T></code></a> <b>componentType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="remove">
                <h4 class="methodName">remove</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="Archetype.html" class="type-link"><code>Archetype<ECS_TYPE></code></a></span>
                    <span class="memberName">remove</span>
                    <span class="arguments">(<span class="param"><a href="Archetype.html" class="type-link"><code>@Nonnull final Archetype<ECS_TYPE></code></a> <span class="param-name">archetype</span></span>, <span class="param"><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, T></code></a> <span class="param-name">componentType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method remove.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Archetype.html" class="type-link"><code>@Nonnull final Archetype<ECS_TYPE></code></a> <b>archetype</b></dd>
<dd><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, T></code></a> <b>componentType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="test">
                <h4 class="methodName">test</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">test</span>
                    <span class="arguments">(<span class="param"><a href="Archetype.html" class="type-link"><code>@Nonnull final Archetype<ECS_TYPE></code></a> <span class="param-name">archetype</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method test.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Archetype.html" class="type-link"><code>@Nonnull final Archetype<ECS_TYPE></code></a> <b>archetype</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="requiresComponentType">
                <h4 class="methodName">requiresComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">requiresComponentType</span>
                    <span class="arguments">(<span class="param"><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?></code></a> <span class="param-name">componentType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method requiresComponentType.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="ComponentType.html" class="type-link"><code>@Nonnull final ComponentType<ECS_TYPE, ?></code></a> <b>componentType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="validateRegistry">
                <h4 class="methodName">validateRegistry</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">validateRegistry</span>
                    <span class="arguments">(<span class="param"><a href="ComponentRegistry.html" class="type-link"><code>final ComponentRegistry<ECS_TYPE></code></a> <span class="param-name">registry</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method validateRegistry.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="ComponentRegistry.html" class="type-link"><code>final ComponentRegistry<ECS_TYPE></code></a> <b>registry</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="validate">
                <h4 class="methodName">validate</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">validate</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method validate.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="equals">
                <h4 class="methodName">equals</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">equals</span>
                    <span class="arguments">(<span class="param"><code>@Nullable final Object</code> <span class="param-name">o</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method equals.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nullable final Object</code> <b>o</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="hashCode">
                <h4 class="methodName">hashCode</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">hashCode</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method hashCode.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="toString">
                <h4 class="methodName">toString</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">toString</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method toString.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>
        
        
        <dl class="notes">
            <dt>See Also:</dt>
            <dd><ul class="seeList"><li><a href="../../../../Store.html">Store</a></li><li><a href="../../../../Query.html">Query</a></li><li><a href="../../../../ComponentType.html">ComponentType</a></li></ul></dd>
        </dl>
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>