<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ref (com.hypixel.hytale.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../overview-frame.html">Overview</a> &gt;
            <a href="../../../../com/hypixel/hytale/component/package-summary.html">com.hypixel.hytale.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">Ref</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="Ref.html" class="type-link">Ref</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Lightweight reference to an entity.
            Refs are used to reference entities from within systems
            and provide validation to ensure the entity still exists.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; Ref</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">ref</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<?></span>
                    <span class="memberName">ref</span>
                </div>
                <div class="block">
                    <p>Field ref.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="Ref">
                <h4 class="methodName">Ref</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">Ref</span>
                    <span class="arguments">(<span class="param"><a href="Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <span class="param-name">store</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method Ref.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <b>store</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getStore">
                <h4 class="methodName">getStore</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="Store.html" class="type-link"><code>Store<ECS_TYPE></code></a></span>
                    <span class="memberName">getStore</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getStore.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getIndex">
                <h4 class="methodName">getIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setIndex">
                <h4 class="methodName">setIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setIndex</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">index</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setIndex.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>index</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="invalidate">
                <h4 class="methodName">invalidate</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">invalidate</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method invalidate.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="validate">
                <h4 class="methodName">validate</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">validate</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method validate.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isValid">
                <h4 class="methodName">isValid</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isValid</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isValid.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="equals">
                <h4 class="methodName">equals</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">equals</span>
                    <span class="arguments">(<span class="param"><code>@Nullable final Object</code> <span class="param-name">o</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method equals.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nullable final Object</code> <b>o</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="hashCode">
                <h4 class="methodName">hashCode</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">hashCode</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method hashCode.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="hashCode0">
                <h4 class="methodName">hashCode0</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">hashCode0</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method hashCode0.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="toString">
                <h4 class="methodName">toString</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">toString</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method toString.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
        <dl class="notes">
            <dt>See Also:</dt>
            <dd><ul class="seeList"><li><a href="../../../../Holder.html">Holder</a></li><li><a href="../../../../Store.html">Store</a></li></ul></dd>
        </dl>
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>