<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ResourceType (com.hypixel.hytale.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../overview-frame.html">Overview</a> &gt; 
            <a href="../../../../com/hypixel/hytale/component/package-summary.html">com.hypixel.hytale.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">ResourceType</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="ResourceType.html" class="type-link">ResourceType</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class ResourceType. Provides resourcetype functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; ResourceType</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">registry</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">ComponentRegistry<ECS_TYPE></span>
                    <span class="memberName">registry</span>
                </div>
                <div class="block">
                    <p>Field registry.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">index</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">index</span>
                </div>
                <div class="block">
                    <p>Field index.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">invalid</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">invalid</span>
                </div>
                <div class="block">
                    <p>Field invalid.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="ResourceType">
                <h4 class="methodName">ResourceType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">ResourceType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method ResourceType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="init">
                <h4 class="methodName">init</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">init</span>
                    <span class="arguments">(<span class="param"><a href="ComponentRegistry.html" class="type-link"><code>@Nonnull final ComponentRegistry<ECS_TYPE></code></a> <span class="param-name">registry</span></span>, <span class="param"><code>@Nonnull final Class<? super T></code> <span class="param-name">tClass</span></span>, <span class="param"><code>final int</code> <span class="param-name">index</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method init.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="ComponentRegistry.html" class="type-link"><code>@Nonnull final ComponentRegistry<ECS_TYPE></code></a> <b>registry</b></dd>
<dd><code>@Nonnull final Class<? super T></code> <b>tClass</b></dd>
<dd><code>final int</code> <b>index</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getRegistry">
                <h4 class="methodName">getRegistry</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="ComponentRegistry.html" class="type-link"><code>ComponentRegistry<ECS_TYPE></code></a></span>
                    <span class="memberName">getRegistry</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getRegistry.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getTypeClass">
                <h4 class="methodName">getTypeClass</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>T></code></span>
                    <span class="memberName">getTypeClass</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getTypeClass.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getIndex">
                <h4 class="methodName">getIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="validateRegistry">
                <h4 class="methodName">validateRegistry</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">validateRegistry</span>
                    <span class="arguments">(<span class="param"><a href="ComponentRegistry.html" class="type-link"><code>@Nonnull final ComponentRegistry<ECS_TYPE></code></a> <span class="param-name">registry</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method validateRegistry.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="ComponentRegistry.html" class="type-link"><code>@Nonnull final ComponentRegistry<ECS_TYPE></code></a> <b>registry</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="IllegalArgumentException">
                <h4 class="methodName">IllegalArgumentException</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">IllegalArgumentException</span>
                    <span class="arguments">(<span class="param"><code>"ResourceType is for a different registry! " +</code> <span class="param-name">String.valueOf(this</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method IllegalArgumentException.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>"ResourceType is for a different registry! " +</code> <b>String.valueOf(this</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="validate">
                <h4 class="methodName">validate</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">validate</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method validate.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="invalidate">
                <h4 class="methodName">invalidate</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">invalidate</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method invalidate.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isValid">
                <h4 class="methodName">isValid</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isValid</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isValid.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="compareTo">
                <h4 class="methodName">compareTo</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">compareTo</span>
                    <span class="arguments">(<span class="param"><a href="../server/core/asset/type/item/config/ResourceType.html" class="type-link"><code>@Nonnull final ResourceType<ECS_TYPE, ?></code></a> <span class="param-name">o</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method compareTo.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../server/core/asset/type/item/config/ResourceType.html" class="type-link"><code>@Nonnull final ResourceType<ECS_TYPE, ?></code></a> <b>o</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="equals">
                <h4 class="methodName">equals</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">equals</span>
                    <span class="arguments">(<span class="param"><code>@Nullable final Object</code> <span class="param-name">o</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method equals.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nullable final Object</code> <b>o</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="hashCode">
                <h4 class="methodName">hashCode</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">hashCode</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method hashCode.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="toString">
                <h4 class="methodName">toString</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">toString</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method toString.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>
        
        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>