<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChunkUnloadingSystem (com.hypixel.hytale.server.core.universe.world.storage.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../../overview-frame.html">Overview</a> &gt; 
            <a href="../../../../../../../../../com/hypixel/hytale/server/core/universe/world/storage/component/package-summary.html">com.hypixel.hytale.server.core.universe.world.storage.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">ChunkUnloadingSystem</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="ChunkUnloadingSystem.html" class="type-link">ChunkUnloadingSystem</a> extends <a href="../../../../../../component/system/tick/TickingSystem.html" class="type-link" data-class="TickingSystem"><code>TickingSystem</code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>System for handling chunkunloading mechanics. Systems contain game logic that operates on entities with specific component types.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; TickingSystem &gt; ChunkUnloadingSystem</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">ticksUntilUnloadingReminder</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">int</span>
                    <span class="memberName">ticksUntilUnloadingReminder</span>
                </div>
                <div class="block">
                    <p>Field ticksUntilUnloadingReminder.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">dataResource</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Data</span>
                    <span class="memberName">dataResource</span>
                </div>
                <div class="block">
                    <p>Field dataResource.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">world</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">World</span>
                    <span class="memberName">world</span>
                </div>
                <div class="block">
                    <p>Field world.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">percentOfRAMUsed</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">percentOfRAMUsed</span>
                </div>
                <div class="block">
                    <p>Field percentOfRAMUsed.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">desperatePercent</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">desperatePercent</span>
                </div>
                <div class="block">
                    <p>Field desperatePercent.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">store</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Store<ChunkStore></span>
                    <span class="memberName">store</span>
                </div>
                <div class="block">
                    <p>Field store.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">worldChunkComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">WorldChunk</span>
                    <span class="memberName">worldChunkComponent</span>
                </div>
                <div class="block">
                    <p>Field worldChunkComponent.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkVisibility</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ChunkTracker.ChunkVisibility</span>
                    <span class="memberName">chunkVisibility</span>
                </div>
                <div class="block">
                    <p>Field chunkVisibility.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">keepLoaded</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Box2D</span>
                    <span class="memberName">keepLoaded</span>
                </div>
                <div class="block">
                    <p>Field keepLoaded.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">shouldKeepLoaded</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">shouldKeepLoaded</span>
                </div>
                <div class="block">
                    <p>Field shouldKeepLoaded.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">pollCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">pollCount</span>
                </div>
                <div class="block">
                    <p>Field pollCount.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkRef</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<ChunkStore></span>
                    <span class="memberName">chunkRef</span>
                </div>
                <div class="block">
                    <p>Field chunkRef.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">event</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ChunkUnloadEvent</span>
                    <span class="memberName">event</span>
                </div>
                <div class="block">
                    <p>Field event.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">minX</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">minX</span>
                </div>
                <div class="block">
                    <p>Field minX.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">minZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">minZ</span>
                </div>
                <div class="block">
                    <p>Field minZ.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">maxX</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">maxX</span>
                </div>
                <div class="block">
                    <p>Field maxX.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">maxZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">maxZ</span>
                </div>
                <div class="block">
                    <p>Field maxZ.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkStore</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Store<ChunkStore></span>
                    <span class="memberName">chunkStore</span>
                </div>
                <div class="block">
                    <p>Field chunkStore.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkTracker</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ChunkTracker</span>
                    <span class="memberName">chunkTracker</span>
                </div>
                <div class="block">
                    <p>Field chunkTracker.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">time</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">float</span>
                    <span class="memberName">time</span>
                </div>
                <div class="block">
                    <p>Field time.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="ChunkUnloadingSystem">
                <h4 class="methodName">ChunkUnloadingSystem</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">ChunkUnloadingSystem</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method ChunkUnloadingSystem.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="tick">
                <h4 class="methodName">tick</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">tick</span>
                    <span class="arguments">(<span class="param"><code>final float</code> <span class="param-name">dt</span></span>, <span class="param"><code>final int</code> <span class="param-name">systemIndex</span></span>, <span class="param"><a href="../../../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<ChunkStore></code></a> <span class="param-name">store</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method tick.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final float</code> <b>dt</b></dd>
<dd><code>final int</code> <b>systemIndex</b></dd>
<dd><a href="../../../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<ChunkStore></code></a> <b>store</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="tryUnload">
                <h4 class="methodName">tryUnload</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">tryUnload</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">index</span></span>, <span class="param"><a href="../../../../../../component/ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ChunkStore></code></a> <span class="param-name">archetypeChunk</span></span>, <span class="param"><a href="../../../../../../component/CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ChunkStore></code></a> <span class="param-name">commandBuffer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method tryUnload.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>index</b></dd>
<dd><a href="../../../../../../component/ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ChunkStore></code></a> <b>archetypeChunk</b></dd>
<dd><a href="../../../../../../component/CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ChunkStore></code></a> <b>commandBuffer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getChunkVisibility">
                <h4 class="methodName">getChunkVisibility</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>ChunkTracker.ChunkVisibility</code></span>
                    <span class="memberName">getChunkVisibility</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final List<ChunkTracker></code> <span class="param-name">playerChunkTrackers</span></span>, <span class="param"><code>final long</code> <span class="param-name">chunkIndex</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getChunkVisibility.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final List<ChunkTracker></code> <b>playerChunkTrackers</b></dd>
<dd><code>final long</code> <b>chunkIndex</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="isChunkInBox">
                <h4 class="methodName">isChunkInBox</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isChunkInBox</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final Box2D</code> <span class="param-name">box</span></span>, <span class="param"><code>final int</code> <span class="param-name">x</span></span>, <span class="param"><code>final int</code> <span class="param-name">z</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method isChunkInBox.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final Box2D</code> <b>box</b></dd>
<dd><code>final int</code> <b>x</b></dd>
<dd><code>final int</code> <b>z</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="collectTrackers">
                <h4 class="methodName">collectTrackers</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">collectTrackers</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../../component/ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<EntityStore></code></a> <span class="param-name">archetypeChunk</span></span>, <span class="param"><a href="../../../../../../component/CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<EntityStore></code></a> <span class="param-name">commandBuffer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method collectTrackers.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../../component/ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<EntityStore></code></a> <b>archetypeChunk</b></dd>
<dd><a href="../../../../../../component/CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<EntityStore></code></a> <b>commandBuffer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="Data">
                <h4 class="methodName">Data</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">Data</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method Data.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../../component/Resource.html" class="type-link"><code>Resource<ChunkStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>
        
        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>