<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChunkSavingSystems (Hytale Plugin API)</title>
    <link rel="stylesheet" type="text/css" href="../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../overview-frame.html">Overview</a> &gt; 
            <a href="../package-summary.html">com.hypixel.hytale.server.core.universe.world.storage.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="header">
        <h2 class="title">ChunkSavingSystems</h2>
    </div>
    
    <div class="description">
        <pre class="signature">public class ChunkSavingSystems</pre>
        <div class="block">
            <p>Class ChunkSavingSystems.
        
            Provides chunksavingsystems functionality for the Hytale server.</p>
        </div>
    </div>
    
    <div class="inheritance">
        <h3>java.lang.Object > ChunkSavingSystems</h3>
    </div>
    
    <div class="summary">
        <ul class="blockList">
            <li class="blockList">
                <h3>Field Summary</h3>
                
            <div class="fieldDetail">
                <h4 class="fieldName">logger</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">HytaleLogger</span>
                    <span class="memberName">logger</span>
                </div>
                <div class="block">
                    <p>Field logger.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">data</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Data</span>
                    <span class="memberName">data</span>
                </div>
                <div class="block">
                    <p>Field data.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">worldChunkComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">WorldChunk</span>
                    <span class="memberName">worldChunkComponent</span>
                </div>
                <div class="block">
                    <p>Field worldChunkComponent.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkRef</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<ChunkStore></span>
                    <span class="memberName">chunkRef</span>
                </div>
                <div class="block">
                    <p>Field chunkRef.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">event</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ChunkSaveEvent</span>
                    <span class="memberName">event</span>
                </div>
                <div class="block">
                    <p>Field event.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">store</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Store<ChunkStore></span>
                    <span class="memberName">store</span>
                </div>
                <div class="block">
                    <p>Field store.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">holder</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Holder<ChunkStore></span>
                    <span class="memberName">holder</span>
                </div>
                <div class="block">
                    <p>Field holder.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkStore</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ChunkStore</span>
                    <span class="memberName">chunkStore</span>
                </div>
                <div class="block">
                    <p>Field chunkStore.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">world</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">World</span>
                    <span class="memberName">world</span>
                </div>
                <div class="block">
                    <p>Field world.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">saver</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">IChunkSaver</span>
                    <span class="memberName">saver</span>
                </div>
                <div class="block">
                    <p>Field saver.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">future</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">CompletableFuture<Void></span>
                    <span class="memberName">future</span>
                </div>
                <div class="block">
                    <p>Field future.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">generator</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">IWorldGen</span>
                    <span class="memberName">generator</span>
                </div>
                <div class="block">
                    <p>Field generator.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">reference</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<ChunkStore></span>
                    <span class="memberName">reference</span>
                </div>
                <div class="block">
                    <p>Field reference.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunk</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">WorldChunk</span>
                    <span class="memberName">chunk</span>
                </div>
                <div class="block">
                    <p>Field chunk.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">time</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">float</span>
                    <span class="memberName">time</span>
                </div>
                <div class="block">
                    <p>Field time.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">isSaving</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">isSaving</span>
                </div>
                <div class="block">
                    <p>Field isSaving.</p>
                </div>
            </div>
            </li>
        </ul>
    </div>
    
    <div class="details">
        <ul class="blockList">
            <li class="blockList">
                <h3>Method Detail</h3>
                
            <div class="methodDetail" id="WorldRemoved">
                <h4 class="methodName">WorldRemoved</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">public</span>
                    <span class="memberName">WorldRemoved</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method WorldRemoved.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="getDependencies">
                <h4 class="methodName">getDependencies</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">Set<Dependency<ChunkStore>></span>
                    <span class="memberName">getDependencies</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getDependencies.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="onSystemAddedToStore">
                <h4 class="methodName">onSystemAddedToStore</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">onSystemAddedToStore</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method onSystemAddedToStore.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="onSystemRemovedFromStore">
                <h4 class="methodName">onSystemRemovedFromStore</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">onSystemRemovedFromStore</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method onSystemRemovedFromStore.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="tick">
                <h4 class="methodName">tick</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">tick</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Called every game tick.</p>
                </div>
                <dl class="notes">
                    
                    <dt>Returns:</dt><dd>void</dd>
                </dl>
            </div>
            <div class="methodDetail" id="Data">
                <h4 class="methodName">Data</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">public</span>
                    <span class="memberName">Data</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method Data.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">Resource<ChunkStore></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="clearSaveQueue">
                <h4 class="methodName">clearSaveQueue</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">clearSaveQueue</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clearSaveQueue.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="push">
                <h4 class="methodName">push</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">push</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method push.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="poll">
                <h4 class="methodName">poll</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">Ref<ChunkStore></span>
                    <span class="memberName">poll</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method poll.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="checkTimer">
                <h4 class="methodName">checkTimer</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">checkTimer</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method checkTimer.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            <div class="methodDetail" id="waitForSavingChunks">
                <h4 class="methodName">waitForSavingChunks</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">CompletableFuture<Void></span>
                    <span class="memberName">waitForSavingChunks</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method waitForSavingChunks.</p>
                </div>
                <dl class="notes">
                    
                    
                </dl>
            </div>
            </li>
        </ul>
    </div>
    
    
    
    <footer>
        <small>Copyright 2024 Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>