<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CollisionResultComponent (com.hypixel.hytale.server.core.modules.entity.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/server/core/modules/entity/component/package-summary.html">com.hypixel.hytale.server.core.modules.entity.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">CollisionResultComponent</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="CollisionResultComponent.html" class="type-link">CollisionResultComponent</a> implements <a href="../../../../../component/Component.html" class="type-link" data-class="Component"><code>Component<EntityStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Component for tracking collisionresult state. Attach this component to entities that need to track collisionresult data.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; CollisionResultComponent</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">pendingCollisionCheck</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">pendingCollisionCheck</span>
                </div>
                <div class="block">
                    <p>Field pendingCollisionCheck.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>CollisionResultComponent></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="CollisionResultComponent">
                <h4 class="methodName">CollisionResultComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">CollisionResultComponent</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method CollisionResultComponent.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getCollisionResult">
                <h4 class="methodName">getCollisionResult</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../collision/CollisionResult.html" class="type-link"><code>CollisionResult</code></a></span>
                    <span class="memberName">getCollisionResult</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getCollisionResult.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getCollisionStartPosition">
                <h4 class="methodName">getCollisionStartPosition</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>Vector3d</code></a></span>
                    <span class="memberName">getCollisionStartPosition</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getCollisionStartPosition.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getCollisionPositionOffset">
                <h4 class="methodName">getCollisionPositionOffset</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>Vector3d</code></a></span>
                    <span class="memberName">getCollisionPositionOffset</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getCollisionPositionOffset.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getCollisionStartPositionCopy">
                <h4 class="methodName">getCollisionStartPositionCopy</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>Vector3d</code></a></span>
                    <span class="memberName">getCollisionStartPositionCopy</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getCollisionStartPositionCopy.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getCollisionPositionOffsetCopy">
                <h4 class="methodName">getCollisionPositionOffsetCopy</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>Vector3d</code></a></span>
                    <span class="memberName">getCollisionPositionOffsetCopy</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getCollisionPositionOffsetCopy.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isPendingCollisionCheck">
                <h4 class="methodName">isPendingCollisionCheck</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isPendingCollisionCheck</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isPendingCollisionCheck.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="markPendingCollisionCheck">
                <h4 class="methodName">markPendingCollisionCheck</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">markPendingCollisionCheck</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method markPendingCollisionCheck.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="consumePendingCollisionCheck">
                <h4 class="methodName">consumePendingCollisionCheck</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">consumePendingCollisionCheck</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method consumePendingCollisionCheck.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="resetLocationChange">
                <h4 class="methodName">resetLocationChange</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">resetLocationChange</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method resetLocationChange.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../component/Component.html" class="type-link"><code>Component<EntityStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>