<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactable (com.hypixel.hytale.server.core.modules.entity.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/server/core/modules/entity/component/package-summary.html">com.hypixel.hytale.server.core.modules.entity.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">Interactable</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="Interactable.html" class="type-link">Interactable</a> implements <a href="../../../../../component/Component.html" class="type-link" data-class="Component"><code>Component<EntityStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class Interactable. Provides interactable functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; Interactable</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            <p>No fields documented.</p>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>Interactable></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="Interactable">
                <h4 class="methodName">Interactable</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>private</code></span>
                    <span class="memberName">Interactable</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method Interactable.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../component/Component.html" class="type-link"><code>Component<EntityStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>