<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velocity (com.hypixel.hytale.server.core.modules.physics.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/server/core/modules/physics/component/package-summary.html">com.hypixel.hytale.server.core.modules.physics.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">Velocity</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="Velocity.html" class="type-link">Velocity</a> implements <a href="../../../../../component/Component.html" class="type-link" data-class="Component"><code>Component<EntityStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class Velocity. Provides velocity functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; Velocity</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            <p>No fields documented.</p>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>Velocity></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="Velocity">
                <h4 class="methodName">Velocity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">Velocity</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method Velocity.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setZero">
                <h4 class="methodName">setZero</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setZero</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method setZero.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="addForce">
                <h4 class="methodName">addForce</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">addForce</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <span class="param-name">force</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addForce.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <b>force</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="set">
                <h4 class="methodName">set</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">set</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <span class="param-name">newVelocity</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method set.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <b>newVelocity</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="setClient">
                <h4 class="methodName">setClient</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setClient</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <span class="param-name">newVelocity</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setClient.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <b>newVelocity</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="setX">
                <h4 class="methodName">setX</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setX</span>
                    <span class="arguments">(<span class="param"><code>final double</code> <span class="param-name">x</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setX.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final double</code> <b>x</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="setY">
                <h4 class="methodName">setY</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setY</span>
                    <span class="arguments">(<span class="param"><code>final double</code> <span class="param-name">y</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setY.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final double</code> <b>y</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="setZ">
                <h4 class="methodName">setZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setZ</span>
                    <span class="arguments">(<span class="param"><code>final double</code> <span class="param-name">z</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setZ.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final double</code> <b>z</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getX">
                <h4 class="methodName">getX</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>double</code></span>
                    <span class="memberName">getX</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getX.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getY">
                <h4 class="methodName">getY</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>double</code></span>
                    <span class="memberName">getY</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getY.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getZ">
                <h4 class="methodName">getZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>double</code></span>
                    <span class="memberName">getZ</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getZ.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSpeed">
                <h4 class="methodName">getSpeed</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>double</code></span>
                    <span class="memberName">getSpeed</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSpeed.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="addInstruction">
                <h4 class="methodName">addInstruction</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">addInstruction</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <span class="param-name">velocity</span></span>, <span class="param"><a href="../../splitvelocity/VelocityConfig.html" class="type-link"><code>@Nullable final VelocityConfig</code></a> <span class="param-name">config</span></span>, <span class="param"><a href="../../../../../protocol/ChangeVelocityType.html" class="type-link"><code>@Nonnull final ChangeVelocityType</code></a> <span class="param-name">type</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addInstruction.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <b>velocity</b></dd>
<dd><a href="../../splitvelocity/VelocityConfig.html" class="type-link"><code>@Nullable final VelocityConfig</code></a> <b>config</b></dd>
<dd><a href="../../../../../protocol/ChangeVelocityType.html" class="type-link"><code>@Nonnull final ChangeVelocityType</code></a> <b>type</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="Instruction">
                <h4 class="methodName">Instruction</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">Instruction</span>
                    <span class="arguments">(<span class="param">velocity</span>, <span class="param">config</span>, <span class="param">type</span>)</span>
                </div>
                <div class="block">
                    <p>Method Instruction.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>velocity</code> <b>velocity</b></dd>
<dd><code>config</code> <b>config</b></dd>
<dd><code>type</code> <b>type</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getInstructions">
                <h4 class="methodName">getInstructions</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>List<Instruction></code></span>
                    <span class="memberName">getInstructions</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getInstructions.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getVelocity">
                <h4 class="methodName">getVelocity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>Vector3d</code></a></span>
                    <span class="memberName">getVelocity</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getVelocity.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getClientVelocity">
                <h4 class="methodName">getClientVelocity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>Vector3d</code></a></span>
                    <span class="memberName">getClientVelocity</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getClientVelocity.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="assignVelocityTo">
                <h4 class="methodName">assignVelocityTo</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>Vector3d</code></a></span>
                    <span class="memberName">assignVelocityTo</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <span class="param-name">vector</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method assignVelocityTo.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <b>vector</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../component/Component.html" class="type-link"><code>Component<EntityStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getConfig">
                <h4 class="methodName">getConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../splitvelocity/VelocityConfig.html" class="type-link"><code>VelocityConfig</code></a></span>
                    <span class="memberName">getConfig</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getConfig.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getType">
                <h4 class="methodName">getType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../../protocol/ChangeVelocityType.html" class="type-link"><code>ChangeVelocityType</code></a></span>
                    <span class="memberName">getType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>