<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VoidEvent (com.hypixel.hytale.builtin.portals.components.voidevent)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/builtin/portals/components/voidevent/package-summary.html">com.hypixel.hytale.builtin.portals.components.voidevent</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">VoidEvent</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="VoidEvent.html" class="type-link">VoidEvent</a> implements <a href="../../../../component/Component.html" class="type-link" data-class="Component"><code>Component<EntityStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Event fired when void occurs. Listen for this event using EventBus.register.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; VoidEvent</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">voidSpawners</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">SpatialHashGrid<Ref<EntityStore>></span>
                    <span class="memberName">voidSpawners</span>
                </div>
                <div class="block">
                    <p>Field voidSpawners.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">activeStage</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">VoidEventStage</span>
                    <span class="memberName">activeStage</span>
                </div>
                <div class="block">
                    <p>Field activeStage.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">portalConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">PortalGameplayConfig</span>
                    <span class="memberName">portalConfig</span>
                </div>
                <div class="block">
                    <p>Field portalConfig.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">VoidEvent</span>
                    <span class="memberName">clone</span>
                </div>
                <div class="block">
                    <p>Field clone.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="VoidEvent">
                <h4 class="methodName">VoidEvent</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">VoidEvent</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method VoidEvent.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>VoidEvent></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getConfig">
                <h4 class="methodName">getConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="config/VoidEventConfig.html" class="type-link"><code>VoidEventConfig</code></a></span>
                    <span class="memberName">getConfig</span>
                    <span class="arguments">(<span class="param"><code>final World</code> <span class="param-name">world</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getConfig.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final World</code> <b>world</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getVoidSpawners">
                <h4 class="methodName">getVoidSpawners</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../utils/spatial/SpatialHashGrid.html" class="type-link"><code>SpatialHashGrid<Ref<EntityStore>></code></a></span>
                    <span class="memberName">getVoidSpawners</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getVoidSpawners.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getActiveStage">
                <h4 class="methodName">getActiveStage</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="config/VoidEventStage.html" class="type-link"><code>VoidEventStage</code></a></span>
                    <span class="memberName">getActiveStage</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getActiveStage.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setActiveStage">
                <h4 class="methodName">setActiveStage</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setActiveStage</span>
                    <span class="arguments">(<span class="param"><a href="config/VoidEventStage.html" class="type-link"><code>@Nullable final VoidEventStage</code></a> <span class="param-name">activeStage</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setActiveStage.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="config/VoidEventStage.html" class="type-link"><code>@Nullable final VoidEventStage</code></a> <b>activeStage</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../component/Component.html" class="type-link"><code>Component<EntityStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>