<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query (com.hypixel.hytale.component.query)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../overview-frame.html">Overview</a> &gt; 
            <a href="../../../../../com/hypixel/hytale/component/query/package-summary.html">com.hypixel.hytale.component.query</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">Query</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public interface <a href="Query.html" class="type-link">Query</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class Query. Provides query functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; Query</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            <p>No fields documented.</p>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="any">
                <h4 class="methodName">any</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="AnyQuery.html" class="type-link"><code>AnyQuery<ECS_TYPE></code></a></span>
                    <span class="memberName">any</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method any.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="not">
                <h4 class="methodName">not</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="NotQuery.html" class="type-link"><code>NotQuery<ECS_TYPE></code></a></span>
                    <span class="memberName">not</span>
                    <span class="arguments">(<span class="param"><a href="Query.html" class="type-link"><code>final Query<ECS_TYPE></code></a> <span class="param-name">query</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method not.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Query.html" class="type-link"><code>final Query<ECS_TYPE></code></a> <b>query</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="and">
                <h4 class="methodName">and</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="AndQuery.html" class="type-link"><code>AndQuery<ECS_TYPE></code></a></span>
                    <span class="memberName">and</span>
                    <span class="arguments">(<span class="param"><a href="Query.html" class="type-link"><code>final Query<ECS_TYPE>...</code></a> <span class="param-name">queries</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method and.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Query.html" class="type-link"><code>final Query<ECS_TYPE>...</code></a> <b>queries</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="or">
                <h4 class="methodName">or</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="OrQuery.html" class="type-link"><code>OrQuery<ECS_TYPE></code></a></span>
                    <span class="memberName">or</span>
                    <span class="arguments">(<span class="param"><a href="Query.html" class="type-link"><code>final Query<ECS_TYPE>...</code></a> <span class="param-name">queries</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method or.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="Query.html" class="type-link"><code>final Query<ECS_TYPE>...</code></a> <b>queries</b></dd>

                </dl>
            </div>
        </div>
        
        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>