<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlockTypeViewManager (com.hypixel.hytale.server.npc.blackboard.view.blocktype)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/server/npc/blackboard/view/blocktype/package-summary.html">com.hypixel.hytale.server.npc.blackboard.view.blocktype</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">BlockTypeViewManager</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="BlockTypeViewManager.html" class="type-link">BlockTypeViewManager</a> extends <a href="..//BlockRegionViewManager.html" class="type-link" data-class="BlockRegionViewManager"><code>BlockRegionViewManager</code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class BlockTypeViewManager. Provides blocktypeviewmanager functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; BlockRegionViewManager &gt; BlockTypeViewManager</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            <p>No fields documented.</p>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="BlockTypeViewManager">
                <h4 class="methodName">BlockTypeViewManager</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">BlockTypeViewManager</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method BlockTypeViewManager.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="createView">
                <h4 class="methodName">createView</h4>
                <div class="memberSignature">
                    <span class="modifiers">protected</span>
                    <span class="returnType"><a href="BlockTypeView.html" class="type-link"><code>BlockTypeView</code></a></span>
                    <span class="memberName">createView</span>
                    <span class="arguments">(<span class="param"><code>final long</code> <span class="param-name">index</span></span>, <span class="param"><a href="../..//Blackboard.html" class="type-link"><code>final Blackboard</code></a> <span class="param-name">blackboard</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method createView.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final long</code> <b>index</b></dd>
<dd><a href="../..//Blackboard.html" class="type-link"><code>final Blackboard</code></a> <b>blackboard</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="shouldCleanup">
                <h4 class="methodName">shouldCleanup</h4>
                <div class="memberSignature">
                    <span class="modifiers">protected</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">shouldCleanup</span>
                    <span class="arguments">(<span class="param"><a href="BlockTypeView.html" class="type-link"><code>@Nonnull final BlockTypeView</code></a> <span class="param-name">view</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method shouldCleanup.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="BlockTypeView.html" class="type-link"><code>@Nonnull final BlockTypeView</code></a> <b>view</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>