<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlockPositionEntryGenerator (com.hypixel.hytale.server.npc.blackboard.view.blocktype)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/server/npc/blackboard/view/blocktype/package-summary.html">com.hypixel.hytale.server.npc.blackboard.view.blocktype</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">BlockPositionEntryGenerator</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="BlockPositionEntryGenerator.html" class="type-link">BlockPositionEntryGenerator</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class BlockPositionEntryGenerator. Provides blockpositionentrygenerator functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; BlockPositionEntryGenerator</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">section</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">BlockSection</span>
                    <span class="memberName">section</span>
                </div>
                <div class="block">
                    <p>Field section.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkSectionPointer</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ChunkSectionReference</span>
                    <span class="memberName">chunkSectionPointer</span>
                </div>
                <div class="block">
                    <p>Field chunkSectionPointer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blockData</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Int2ObjectOpenHashMap<List<IBlockPositionData>></span>
                    <span class="memberName">blockData</span>
                </div>
                <div class="block">
                    <p>Field blockData.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">sectionPointer</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">ChunkSectionReference</span>
                    <span class="memberName">sectionPointer</span>
                </div>
                <div class="block">
                    <p>Field sectionPointer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">searchedBlockSets</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">BitSet</span>
                    <span class="memberName">searchedBlockSets</span>
                </div>
                <div class="block">
                    <p>Field searchedBlockSets.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">maxBlockType</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">maxBlockType</span>
                </div>
                <div class="block">
                    <p>Field maxBlockType.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blockSetModule</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">BlockSetModule</span>
                    <span class="memberName">blockSetModule</span>
                </div>
                <div class="block">
                    <p>Field blockSetModule.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">type</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">type</span>
                </div>
                <div class="block">
                    <p>Field type.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">count</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">count</span>
                </div>
                <div class="block">
                    <p>Field count.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">j</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">j</span>
                </div>
                <div class="block">
                    <p>Field j.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="BlockPositionEntryGenerator">
                <h4 class="methodName">BlockPositionEntryGenerator</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">BlockPositionEntryGenerator</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method BlockPositionEntryGenerator.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="generate">
                <h4 class="methodName">generate</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../core/universe/world/chunk/section/blockpositions/BlockPositionProvider.html" class="type-link"><code>BlockPositionProvider</code></a></span>
                    <span class="memberName">generate</span>
                    <span class="arguments">(<span class="param"><code>final short</code> <span class="param-name">changeCounter</span></span>, <span class="param"><code>final int</code> <span class="param-name">sectionIndex</span></span>, <span class="param"><a href="../../../../core/universe/world/chunk/BlockChunk.html" class="type-link"><code>@Nonnull final BlockChunk</code></a> <span class="param-name">chunk</span></span>, <span class="param"><code>final IntList</code> <span class="param-name">unifiedBlocksOfInterest</span></span>, <span class="param"><code>@Nonnull final BitSet</code> <span class="param-name">searchedBlockSets</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method generate.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final short</code> <b>changeCounter</b></dd>
<dd><code>final int</code> <b>sectionIndex</b></dd>
<dd><a href="../../../../core/universe/world/chunk/BlockChunk.html" class="type-link"><code>@Nonnull final BlockChunk</code></a> <b>chunk</b></dd>
<dd><code>final IntList</code> <b>unifiedBlocksOfInterest</b></dd>
<dd><code>@Nonnull final BitSet</code> <b>searchedBlockSets</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="init">
                <h4 class="methodName">init</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">init</span>
                    <span class="arguments">(<span class="param"><a href="../../../../core/universe/world/chunk/section/ChunkSectionReference.html" class="type-link"><code>final ChunkSectionReference</code></a> <span class="param-name">sectionPointer</span></span>, <span class="param"><code>final BitSet</code> <span class="param-name">searchedBlockSets</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method init.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../core/universe/world/chunk/section/ChunkSectionReference.html" class="type-link"><code>final ChunkSectionReference</code></a> <b>sectionPointer</b></dd>
<dd><code>final BitSet</code> <b>searchedBlockSets</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="release">
                <h4 class="methodName">release</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">release</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method release.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="accept">
                <h4 class="methodName">accept</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">accept</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">blockIndex</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method accept.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>blockIndex</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getBlockData">
                <h4 class="methodName">getBlockData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>Int2ObjectOpenHashMap<List<IBlockPositionData>></code></span>
                    <span class="memberName">getBlockData</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getBlockData.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>