<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlockTypeView (com.hypixel.hytale.server.npc.blackboard.view.blocktype)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/server/npc/blackboard/view/blocktype/package-summary.html">com.hypixel.hytale.server.npc.blackboard.view.blocktype</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">BlockTypeView</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="BlockTypeView.html" class="type-link">BlockTypeView</a> extends <a href="..//BlockRegionView.html" class="type-link" data-class="BlockRegionView"><code>BlockRegionView</code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class BlockTypeView. Provides blocktypeview functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; BlockRegionView &gt; BlockTypeView</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">aggregateNeedsRebuild</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">aggregateNeedsRebuild</span>
                </div>
                <div class="block">
                    <p>Field aggregateNeedsRebuild.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">transformComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">TransformComponent</span>
                    <span class="memberName">transformComponent</span>
                </div>
                <div class="block">
                    <p>Field transformComponent.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blackBoardResource</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Blackboard</span>
                    <span class="memberName">blackBoardResource</span>
                </div>
                <div class="block">
                    <p>Field blackBoardResource.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blockTypeView</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">BlockTypeView</span>
                    <span class="memberName">blockTypeView</span>
                </div>
                <div class="block">
                    <p>Field blockTypeView.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">npcComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">NPCEntity</span>
                    <span class="memberName">npcComponent</span>
                </div>
                <div class="block">
                    <p>Field npcComponent.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blockSets</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">IntList</span>
                    <span class="memberName">blockSets</span>
                </div>
                <div class="block">
                    <p>Field blockSets.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">context</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">HytaleLogger.Api</span>
                    <span class="memberName">context</span>
                </div>
                <div class="block">
                    <p>Field context.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">existingCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">existingCount</span>
                </div>
                <div class="block">
                    <p>Field existingCount.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newCount</span>
                </div>
                <div class="block">
                    <p>Field newCount.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entityPos</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">entityPos</span>
                </div>
                <div class="block">
                    <p>Field entityPos.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">roleName</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">String</span>
                    <span class="memberName">roleName</span>
                </div>
                <div class="block">
                    <p>Field roleName.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entityX</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">entityX</span>
                </div>
                <div class="block">
                    <p>Field entityX.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entityZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">entityZ</span>
                </div>
                <div class="block">
                    <p>Field entityZ.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entityY</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">entityY</span>
                </div>
                <div class="block">
                    <p>Field entityY.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">world</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">World</span>
                    <span class="memberName">world</span>
                </div>
                <div class="block">
                    <p>Field world.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">maxRange</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">maxRange</span>
                </div>
                <div class="block">
                    <p>Field maxRange.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">yRange</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">yRange</span>
                </div>
                <div class="block">
                    <p>Field yRange.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">minY</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">minY</span>
                </div>
                <div class="block">
                    <p>Field minY.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">maxY</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">maxY</span>
                </div>
                <div class="block">
                    <p>Field maxY.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkStore</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ChunkStore</span>
                    <span class="memberName">chunkStore</span>
                </div>
                <div class="block">
                    <p>Field chunkStore.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkStoreStore</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Store<ChunkStore></span>
                    <span class="memberName">chunkStoreStore</span>
                </div>
                <div class="block">
                    <p>Field chunkStoreStore.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunk</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">WorldChunk</span>
                    <span class="memberName">chunk</span>
                </div>
                <div class="block">
                    <p>Field chunk.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">long</span>
                    <span class="memberName">chunkIndex</span>
                </div>
                <div class="block">
                    <p>Field chunkIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blockChunk</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">BlockChunk</span>
                    <span class="memberName">blockChunk</span>
                </div>
                <div class="block">
                    <p>Field blockChunk.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">sectionIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">sectionIndex</span>
                </div>
                <div class="block">
                    <p>Field sectionIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">section</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">BlockSection</span>
                    <span class="memberName">section</span>
                </div>
                <div class="block">
                    <p>Field section.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">sectionRef</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Ref<ChunkStore></span>
                    <span class="memberName">sectionRef</span>
                </div>
                <div class="block">
                    <p>Field sectionRef.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">changeCounter</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">short</span>
                    <span class="memberName">changeCounter</span>
                </div>
                <div class="block">
                    <p>Field changeCounter.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">context2</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">HytaleLogger.Api</span>
                    <span class="memberName">context2</span>
                </div>
                <div class="block">
                    <p>Field context2.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">otherView</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">BlockTypeView</span>
                    <span class="memberName">otherView</span>
                </div>
                <div class="block">
                    <p>Field otherView.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">resourceView</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ResourceView</span>
                    <span class="memberName">resourceView</span>
                </div>
                <div class="block">
                    <p>Field resourceView.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">block</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">IBlockPositionData</span>
                    <span class="memberName">block</span>
                </div>
                <div class="block">
                    <p>Field block.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">dist2</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">dist2</span>
                </div>
                <div class="block">
                    <p>Field dist2.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">set</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">IntSet</span>
                    <span class="memberName">set</span>
                </div>
                <div class="block">
                    <p>Field set.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">iterator</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">IntIterator</span>
                    <span class="memberName">iterator</span>
                </div>
                <div class="block">
                    <p>Field iterator.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">next</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">next</span>
                </div>
                <div class="block">
                    <p>Field next.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="BlockTypeView">
                <h4 class="methodName">BlockTypeView</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">BlockTypeView</span>
                    <span class="arguments">(<span class="param"><code>final long</code> <span class="param-name">index</span></span>, <span class="param"><a href="../..//Blackboard.html" class="type-link"><code>final Blackboard</code></a> <span class="param-name">blackboard</span></span>, <span class="param"><a href="BlockPositionEntryGenerator.html" class="type-link"><code>final BlockPositionEntryGenerator</code></a> <span class="param-name">generator</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method BlockTypeView.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final long</code> <b>index</b></dd>
<dd><a href="../..//Blackboard.html" class="type-link"><code>final Blackboard</code></a> <b>blackboard</b></dd>
<dd><a href="BlockPositionEntryGenerator.html" class="type-link"><code>final BlockPositionEntryGenerator</code></a> <b>generator</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getIndex">
                <h4 class="methodName">getIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>long</code></span>
                    <span class="memberName">getIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isOutdated">
                <h4 class="methodName">isOutdated</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isOutdated</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<EntityStore></code></a> <span class="param-name">store</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method isOutdated.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<EntityStore></code></a> <b>store</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getUpdatedView">
                <h4 class="methodName">getUpdatedView</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="BlockTypeView.html" class="type-link"><code>BlockTypeView</code></a></span>
                    <span class="memberName">getUpdatedView</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <span class="param-name">componentAccessor</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getUpdatedView.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <b>componentAccessor</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="initialiseEntity">
                <h4 class="methodName">initialiseEntity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">initialiseEntity</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../entities/NPCEntity.html" class="type-link"><code>@Nonnull final NPCEntity</code></a> <span class="param-name">npcComponent</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method initialiseEntity.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../entities/NPCEntity.html" class="type-link"><code>@Nonnull final NPCEntity</code></a> <b>npcComponent</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="cleanup">
                <h4 class="methodName">cleanup</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">cleanup</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method cleanup.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="onWorldRemoved">
                <h4 class="methodName">onWorldRemoved</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">onWorldRemoved</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method onWorldRemoved.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="addSearchedBlockSets">
                <h4 class="methodName">addSearchedBlockSets</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">addSearchedBlockSets</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../entities/NPCEntity.html" class="type-link"><code>@Nonnull final NPCEntity</code></a> <span class="param-name">entity</span></span>, <span class="param"><code>@Nonnull final IntList</code> <span class="param-name">blockSets</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addSearchedBlockSets.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../entities/NPCEntity.html" class="type-link"><code>@Nonnull final NPCEntity</code></a> <b>entity</b></dd>
<dd><code>@Nonnull final IntList</code> <b>blockSets</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="addSearchedBlockSet">
                <h4 class="methodName">addSearchedBlockSet</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">addSearchedBlockSet</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">blockSet</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addSearchedBlockSet.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>blockSet</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="removeSearchedBlockSets">
                <h4 class="methodName">removeSearchedBlockSets</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">removeSearchedBlockSets</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../entities/NPCEntity.html" class="type-link"><code>@Nonnull final NPCEntity</code></a> <span class="param-name">npcComponent</span></span>, <span class="param"><code>@Nonnull final IntList</code> <span class="param-name">blockSets</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method removeSearchedBlockSets.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../entities/NPCEntity.html" class="type-link"><code>@Nonnull final NPCEntity</code></a> <b>npcComponent</b></dd>
<dd><code>@Nonnull final IntList</code> <b>blockSets</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="IllegalStateException">
                <h4 class="methodName">IllegalStateException</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">IllegalStateException</span>
                    <span class="arguments">(<span class="param"><code>String.format("Attempting to unregister entity %s</code> <span class="param-name">(reference:%s</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method IllegalStateException.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>String.format("Attempting to unregister entity %s</code> <b>(reference:%s</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="removeSearchedBlockSet">
                <h4 class="methodName">removeSearchedBlockSet</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">removeSearchedBlockSet</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">blockSet</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method removeSearchedBlockSet.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>blockSet</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="findBlock">
                <h4 class="methodName">findBlock</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../core/universe/world/chunk/section/blockpositions/IBlockPositionData.html" class="type-link"><code>IBlockPositionData</code></a></span>
                    <span class="memberName">findBlock</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">blockSet</span></span>, <span class="param"><code>final double</code> <span class="param-name">range</span></span>, <span class="param"><code>final double</code> <span class="param-name">yMax</span></span>, <span class="param"><code>final boolean</code> <span class="param-name">pickRandom</span></span>, <span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <span class="param-name">componentAccessor</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method findBlock.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>blockSet</b></dd>
<dd><code>final double</code> <b>range</b></dd>
<dd><code>final double</code> <b>yMax</b></dd>
<dd><code>final boolean</code> <b>pickRandom</b></dd>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <b>componentAccessor</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getEntities">
                <h4 class="methodName">getEntities</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>Set<Ref<EntityStore>></code></span>
                    <span class="memberName">getEntities</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getEntities.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getAllBlockSets">
                <h4 class="methodName">getAllBlockSets</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>BitSet</code></span>
                    <span class="memberName">getAllBlockSets</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getAllBlockSets.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getBlockSetCounts">
                <h4 class="methodName">getBlockSetCounts</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>Int2IntMap</code></span>
                    <span class="memberName">getBlockSetCounts</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getBlockSetCounts.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="rebuildBlockTypeAggregate">
                <h4 class="methodName">rebuildBlockTypeAggregate</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">rebuildBlockTypeAggregate</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final IntArrayList</code> <span class="param-name">aggregate</span></span>, <span class="param"><code>@Nonnull final BitSet</code> <span class="param-name">searchedBlockSets</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method rebuildBlockTypeAggregate.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final IntArrayList</code> <b>aggregate</b></dd>
<dd><code>@Nonnull final BitSet</code> <b>searchedBlockSets</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>