<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KDTree (com.hypixel.hytale.component.spatial)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../overview-frame.html">Overview</a> &gt; 
            <a href="../../../../../com/hypixel/hytale/component/spatial/package-summary.html">com.hypixel.hytale.component.spatial</a> &gt; Class
        </span>
    </nav>
    
    <div class="header">
        <h2 class="title">KDTree</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class KDTree</pre>
        
        <div class="description">
            <div class="block">
                <p>Class KDTree. Provides kdtree functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; KDTree</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">nodePoolIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">nodePoolIndex</span>
                </div>
                <div class="block">
                    <p>Field nodePoolIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">dataListPoolIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">dataListPoolIndex</span>
                </div>
                <div class="block">
                    <p>Field dataListPoolIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">size</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">size</span>
                </div>
                <div class="block">
                    <p>Field size.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">root</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Node<T></span>
                    <span class="memberName">root</span>
                </div>
                <div class="block">
                    <p>Field root.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">spatialDataSize</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">spatialDataSize</span>
                </div>
                <div class="block">
                    <p>Field spatialDataSize.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">mid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">mid</span>
                </div>
                <div class="block">
                    <p>Field mid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">sortedIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">sortedIndex</span>
                </div>
                <div class="block">
                    <p>Field sortedIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">vector</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">vector</span>
                </div>
                <div class="block">
                    <p>Field vector.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">data</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">T</span>
                    <span class="memberName">data</span>
                </div>
                <div class="block">
                    <p>Field data.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">list</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">List<T></span>
                    <span class="memberName">list</span>
                </div>
                <div class="block">
                    <p>Field list.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">leftSortedIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">leftSortedIndex</span>
                </div>
                <div class="block">
                    <p>Field leftSortedIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">leftVector</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">leftVector</span>
                </div>
                <div class="block">
                    <p>Field leftVector.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">leftData</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">T</span>
                    <span class="memberName">leftData</span>
                </div>
                <div class="block">
                    <p>Field leftData.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">rightSortedIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">rightSortedIndex</span>
                </div>
                <div class="block">
                    <p>Field rightSortedIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">rightVector</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">rightVector</span>
                </div>
                <div class="block">
                    <p>Field rightVector.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">rightData</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">T</span>
                    <span class="memberName">rightData</span>
                </div>
                <div class="block">
                    <p>Field rightData.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">closestState</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ClosestState<T></span>
                    <span class="memberName">closestState</span>
                </div>
                <div class="block">
                    <p>Field closestState.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">distanceSq</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">distanceSq</span>
                </div>
                <div class="block">
                    <p>Field distanceSq.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">radiusSq</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">radiusSq</span>
                </div>
                <div class="block">
                    <p>Field radiusSq.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">halfHeight</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">halfHeight</span>
                </div>
                <div class="block">
                    <p>Field halfHeight.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entryResults</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ObjectArrayList<OrderedEntry<T>></span>
                    <span class="memberName">entryResults</span>
                </div>
                <div class="block">
                    <p>Field entryResults.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">node</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Node<T></span>
                    <span class="memberName">node</span>
                </div>
                <div class="block">
                    <p>Field node.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">set</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ObjectArrayList<T></span>
                    <span class="memberName">set</span>
                </div>
                <div class="block">
                    <p>Field set.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">axis</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">axis</span>
                </div>
                <div class="block">
                    <p>Field axis.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">compare</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">compare</span>
                </div>
                <div class="block">
                    <p>Field compare.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newDepth</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newDepth</span>
                </div>
                <div class="block">
                    <p>Field newDepth.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">plane</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">plane</span>
                </div>
                <div class="block">
                    <p>Field plane.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">component</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">component</span>
                </div>
                <div class="block">
                    <p>Field component.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">planeDistance</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">planeDistance</span>
                </div>
                <div class="block">
                    <p>Field planeDistance.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">nodeDistanceSq</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">nodeDistanceSq</span>
                </div>
                <div class="block">
                    <p>Field nodeDistanceSq.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">dy</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">dy</span>
                </div>
                <div class="block">
                    <p>Field dy.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">dx</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">dx</span>
                </div>
                <div class="block">
                    <p>Field dx.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">dz</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">dz</span>
                </div>
                <div class="block">
                    <p>Field dz.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">xzDistanceSq</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">xzDistanceSq</span>
                </div>
                <div class="block">
                    <p>Field xzDistanceSq.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">axisRadius</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">axisRadius</span>
                </div>
                <div class="block">
                    <p>Field axisRadius.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">minComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">minComponent</span>
                </div>
                <div class="block">
                    <p>Field minComponent.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">maxComponent</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">maxComponent</span>
                </div>
                <div class="block">
                    <p>Field maxComponent.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">inCuboid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">inCuboid</span>
                </div>
                <div class="block">
                    <p>Field inCuboid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">primary</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Node<T></span>
                    <span class="memberName">primary</span>
                </div>
                <div class="block">
                    <p>Field primary.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">secondary</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Node<T></span>
                    <span class="memberName">secondary</span>
                </div>
                <div class="block">
                    <p>Field secondary.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">radius</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">double</span>
                    <span class="memberName">radius</span>
                </div>
                <div class="block">
                    <p>Field radius.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">one</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Node<T></span>
                    <span class="memberName">one</span>
                </div>
                <div class="block">
                    <p>Field one.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">two</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Node<T></span>
                    <span class="memberName">two</span>
                </div>
                <div class="block">
                    <p>Field two.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">nextDepth</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">nextDepth</span>
                </div>
                <div class="block">
                    <p>Field nextDepth.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="KDTree">
                <h4 class="methodName">KDTree</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">public</span>
                    <span class="memberName">KDTree</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method KDTree.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="size">
                <h4 class="methodName">size</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">int</span>
                    <span class="memberName">size</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method size.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="rebuild">
                <h4 class="methodName">rebuild</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">rebuild</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method rebuild.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="closest">
                <h4 class="methodName">closest</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">T</span>
                    <span class="memberName">closest</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method closest.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="collect">
                <h4 class="methodName">collect</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">collect</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method collect.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="collectCylinder">
                <h4 class="methodName">collectCylinder</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">collectCylinder</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method collectCylinder.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="collectBox">
                <h4 class="methodName">collectBox</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">collectBox</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method collectBox.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="ordered">
                <h4 class="methodName">ordered</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">ordered</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method ordered.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="ordered3DAxis">
                <h4 class="methodName">ordered3DAxis</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">ordered3DAxis</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method ordered3DAxis.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="dump">
                <h4 class="methodName">dump</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">String</span>
                    <span class="memberName">dump</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method dump.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getPooledNode">
                <h4 class="methodName">getPooledNode</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Node<T></span>
                    <span class="memberName">getPooledNode</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getPooledNode.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getPooledDataList">
                <h4 class="methodName">getPooledDataList</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">List<T></span>
                    <span class="memberName">getPooledDataList</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getPooledDataList.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="build0">
                <h4 class="methodName">build0</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">void</span>
                    <span class="memberName">build0</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method build0.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="put0">
                <h4 class="methodName">put0</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">void</span>
                    <span class="memberName">put0</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method put0.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="if">
                <h4 class="methodName">if</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">else</span>
                    <span class="memberName">if</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method if.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="closest0">
                <h4 class="methodName">closest0</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">void</span>
                    <span class="memberName">closest0</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method closest0.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="collect0">
                <h4 class="methodName">collect0</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">void</span>
                    <span class="memberName">collect0</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method collect0.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="collectCylinder0">
                <h4 class="methodName">collectCylinder0</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">void</span>
                    <span class="memberName">collectCylinder0</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method collectCylinder0.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="collectBox0">
                <h4 class="methodName">collectBox0</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">void</span>
                    <span class="memberName">collectBox0</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method collectBox0.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="ordered0">
                <h4 class="methodName">ordered0</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">void</span>
                    <span class="memberName">ordered0</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method ordered0.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="_internal_ordered3DAxis">
                <h4 class="methodName">_internal_ordered3DAxis</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">void</span>
                    <span class="memberName">_internal_ordered3DAxis</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method _internal_ordered3DAxis.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="switch">
                <h4 class="methodName">switch</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">return</span>
                    <span class="memberName">switch</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method switch.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="Node">
                <h4 class="methodName">Node</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">public</span>
                    <span class="memberName">Node</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method Node.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="reset">
                <h4 class="methodName">reset</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">void</span>
                    <span class="memberName">reset</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method reset.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="ClosestState">
                <h4 class="methodName">ClosestState</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">public</span>
                    <span class="memberName">ClosestState</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method ClosestState.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="OrderedEntry">
                <h4 class="methodName">OrderedEntry</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType">public</span>
                    <span class="memberName">OrderedEntry</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method OrderedEntry.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>
        
        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>