<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpatialData (com.hypixel.hytale.component.spatial)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../overview-frame.html">Overview</a> &gt;
            <a href="../../../../../com/hypixel/hytale/component/spatial/package-summary.html">com.hypixel.hytale.component.spatial</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">SpatialData</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="SpatialData.html" class="type-link">SpatialData</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class SpatialData. Provides spatialdata functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; SpatialData</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">indexes</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int[]</span>
                    <span class="memberName">indexes</span>
                </div>
                <div class="block">
                    <p>Field indexes.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">moroton</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">long[]</span>
                    <span class="memberName">moroton</span>
                </div>
                <div class="block">
                    <p>Field moroton.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">vectors</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Vector3d[]</span>
                    <span class="memberName">vectors</span>
                </div>
                <div class="block">
                    <p>Field vectors.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">data</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">T[]</span>
                    <span class="memberName">data</span>
                </div>
                <div class="block">
                    <p>Field data.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">size</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">size</span>
                </div>
                <div class="block">
                    <p>Field size.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newLength</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newLength</span>
                </div>
                <div class="block">
                    <p>Field newLength.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">index</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">index</span>
                </div>
                <div class="block">
                    <p>Field index.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newSize</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">newSize</span>
                </div>
                <div class="block">
                    <p>Field newSize.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">v1</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">v1</span>
                </div>
                <div class="block">
                    <p>Field v1.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">v2</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">v2</span>
                </div>
                <div class="block">
                    <p>Field v2.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">xComp</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">xComp</span>
                </div>
                <div class="block">
                    <p>Field xComp.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">zComp</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">zComp</span>
                </div>
                <div class="block">
                    <p>Field zComp.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">v</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">v</span>
                </div>
                <div class="block">
                    <p>Field v.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="SpatialData">
                <h4 class="methodName">SpatialData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">SpatialData</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method SpatialData.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="size">
                <h4 class="methodName">size</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">size</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method size.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSortedIndex">
                <h4 class="methodName">getSortedIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getSortedIndex</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">i</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getSortedIndex.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>i</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getVector">
                <h4 class="methodName">getVector</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>Vector3d</code></span>
                    <span class="memberName">getVector</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">i</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getVector.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>i</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getData">
                <h4 class="methodName">getData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>T</code></span>
                    <span class="memberName">getData</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">i</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getData.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>i</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="add">
                <h4 class="methodName">add</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">add</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final Vector3d</code> <span class="param-name">vector</span></span>, <span class="param"><code>@Nonnull final T</code> <span class="param-name">value</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method add.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final Vector3d</code> <b>vector</b></dd>
<dd><code>@Nonnull final T</code> <b>value</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="addCapacity">
                <h4 class="methodName">addCapacity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">addCapacity</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">additionalSize</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addCapacity.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>additionalSize</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="append">
                <h4 class="methodName">append</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">append</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final Vector3d</code> <span class="param-name">vector</span></span>, <span class="param"><code>@Nonnull final T</code> <span class="param-name">value</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method append.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final Vector3d</code> <b>vector</b></dd>
<dd><code>@Nonnull final T</code> <b>value</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="sort">
                <h4 class="methodName">sort</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">sort</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method sort.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="sortMorton">
                <h4 class="methodName">sortMorton</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">sortMorton</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method sortMorton.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="clear">
                <h4 class="methodName">clear</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">clear</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clear.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>