<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VoidEventConfig (com.hypixel.hytale.builtin.portals.components.voidevent.config)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/builtin/portals/components/voidevent/config/package-summary.html">com.hypixel.hytale.builtin.portals.components.voidevent.config</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">VoidEventConfig</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="VoidEventConfig.html" class="type-link">VoidEventConfig</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class VoidEventConfig. Provides voideventconfig functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; VoidEventConfig</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">durationSeconds</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">durationSeconds</span>
                </div>
                <div class="block">
                    <p>Field durationSeconds.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">portalConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">InvasionPortalConfig</span>
                    <span class="memberName">portalConfig</span>
                </div>
                <div class="block">
                    <p>Field portalConfig.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">stages</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">VoidEventStage[]</span>
                    <span class="memberName">stages</span>
                </div>
                <div class="block">
                    <p>Field stages.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">stagesSortedByStartTime</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">List<VoidEventStage></span>
                    <span class="memberName">stagesSortedByStartTime</span>
                </div>
                <div class="block">
                    <p>Field stagesSortedByStartTime.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">musicAmbienceFX</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">String</span>
                    <span class="memberName">musicAmbienceFX</span>
                </div>
                <div class="block">
                    <p>Field musicAmbienceFX.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="VoidEventConfig">
                <h4 class="methodName">VoidEventConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">VoidEventConfig</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method VoidEventConfig.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getDurationSeconds">
                <h4 class="methodName">getDurationSeconds</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getDurationSeconds</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getDurationSeconds.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getShouldStartAfterSeconds">
                <h4 class="methodName">getShouldStartAfterSeconds</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getShouldStartAfterSeconds</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">portalTimeLimitSeconds</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getShouldStartAfterSeconds.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>portalTimeLimitSeconds</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getInvasionPortalConfig">
                <h4 class="methodName">getInvasionPortalConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="InvasionPortalConfig.html" class="type-link"><code>InvasionPortalConfig</code></a></span>
                    <span class="memberName">getInvasionPortalConfig</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getInvasionPortalConfig.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getStages">
                <h4 class="methodName">getStages</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>VoidEventStage[]</code></span>
                    <span class="memberName">getStages</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getStages.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getStagesSortedByStartTime">
                <h4 class="methodName">getStagesSortedByStartTime</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>List<VoidEventStage></code></span>
                    <span class="memberName">getStagesSortedByStartTime</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getStagesSortedByStartTime.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getMusicAmbienceFX">
                <h4 class="methodName">getMusicAmbienceFX</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getMusicAmbienceFX</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getMusicAmbienceFX.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="processConfig">
                <h4 class="methodName">processConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">processConfig</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method processConfig.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>