<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChunkSuppressionQueue (com.hypixel.hytale.server.spawning.suppression.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/server/spawning/suppression/component/package-summary.html">com.hypixel.hytale.server.spawning.suppression.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">ChunkSuppressionQueue</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="ChunkSuppressionQueue.html" class="type-link">ChunkSuppressionQueue</a> implements <a href="../../../../component/Resource.html" class="type-link" data-class="Resource"><code>Resource<ChunkStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class ChunkSuppressionQueue. Provides chunksuppressionqueue functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; ChunkSuppressionQueue</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">queue</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ChunkSuppressionQueue</span>
                    <span class="memberName">queue</span>
                </div>
                <div class="block">
                    <p>Field queue.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="ChunkSuppressionQueue">
                <h4 class="methodName">ChunkSuppressionQueue</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">ChunkSuppressionQueue</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method ChunkSuppressionQueue.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getResourceType">
                <h4 class="methodName">getResourceType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>ChunkSuppressionQueue></code></span>
                    <span class="memberName">getResourceType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getResourceType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getToAdd">
                <h4 class="methodName">getToAdd</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>ChunkSuppressionEntry>></code></span>
                    <span class="memberName">getToAdd</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getToAdd.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getToRemove">
                <h4 class="methodName">getToRemove</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>List<Ref<ChunkStore>></code></span>
                    <span class="memberName">getToRemove</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getToRemove.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="queueForAdd">
                <h4 class="methodName">queueForAdd</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">queueForAdd</span>
                    <span class="arguments">(<span class="param"><a href="../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<ChunkStore></code></a> <span class="param-name">reference</span></span>, <span class="param"><a href="ChunkSuppressionEntry.html" class="type-link"><code>@Nonnull final ChunkSuppressionEntry</code></a> <span class="param-name">entry</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method queueForAdd.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<ChunkStore></code></a> <b>reference</b></dd>
<dd><a href="ChunkSuppressionEntry.html" class="type-link"><code>@Nonnull final ChunkSuppressionEntry</code></a> <b>entry</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="queueForRemove">
                <h4 class="methodName">queueForRemove</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">queueForRemove</span>
                    <span class="arguments">(<span class="param"><a href="../../../../component/Ref.html" class="type-link"><code>final Ref<ChunkStore></code></a> <span class="param-name">reference</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method queueForRemove.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../component/Ref.html" class="type-link"><code>final Ref<ChunkStore></code></a> <b>reference</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../component/Resource.html" class="type-link"><code>Resource<ChunkStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>