<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChunkSuppressionEntry (com.hypixel.hytale.server.spawning.suppression.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/server/spawning/suppression/component/package-summary.html">com.hypixel.hytale.server.spawning.suppression.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">ChunkSuppressionEntry</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="ChunkSuppressionEntry.html" class="type-link">ChunkSuppressionEntry</a> implements <a href="../../../../component/Component.html" class="type-link" data-class="Component"><code>Component<ChunkStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class ChunkSuppressionEntry. Provides chunksuppressionentry functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; ChunkSuppressionEntry</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">span</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">SuppressionSpan</span>
                    <span class="memberName">span</span>
                </div>
                <div class="block">
                    <p>Field span.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>ChunkSuppressionEntry></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="ChunkSuppressionEntry">
                <h4 class="methodName">ChunkSuppressionEntry</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">ChunkSuppressionEntry</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final List<SuppressionSpan></code> <span class="param-name">suppressionSpans</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method ChunkSuppressionEntry.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final List<SuppressionSpan></code> <b>suppressionSpans</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getSuppressionSpans">
                <h4 class="methodName">getSuppressionSpans</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>List<SuppressionSpan></code></span>
                    <span class="memberName">getSuppressionSpans</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSuppressionSpans.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="containsOnly">
                <h4 class="methodName">containsOnly</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">containsOnly</span>
                    <span class="arguments">(<span class="param"><code>final UUID</code> <span class="param-name">suppressorId</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method containsOnly.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final UUID</code> <b>suppressorId</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="isSuppressingRoleAt">
                <h4 class="methodName">isSuppressingRoleAt</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isSuppressingRoleAt</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">roleIndex</span></span>, <span class="param"><code>final int</code> <span class="param-name">yPosition</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method isSuppressingRoleAt.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>roleIndex</b></dd>
<dd><code>final int</code> <b>yPosition</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../component/Component.html" class="type-link"><code>Component<ChunkStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="SuppressionSpan">
                <h4 class="methodName">SuppressionSpan</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">SuppressionSpan</span>
                    <span class="arguments">(<span class="param"><code>final UUID</code> <span class="param-name">suppressorId</span></span>, <span class="param"><code>final int</code> <span class="param-name">minY</span></span>, <span class="param"><code>final int</code> <span class="param-name">maxY</span></span>, <span class="param"><code>@Nullable final IntSet</code> <span class="param-name">suppressedRoles</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method SuppressionSpan.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final UUID</code> <b>suppressorId</b></dd>
<dd><code>final int</code> <b>minY</b></dd>
<dd><code>final int</code> <b>maxY</b></dd>
<dd><code>@Nullable final IntSet</code> <b>suppressedRoles</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getSuppressorId">
                <h4 class="methodName">getSuppressorId</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>UUID</code></span>
                    <span class="memberName">getSuppressorId</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSuppressorId.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSuppressedRoles">
                <h4 class="methodName">getSuppressedRoles</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>IntSet</code></span>
                    <span class="memberName">getSuppressedRoles</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSuppressedRoles.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getMinY">
                <h4 class="methodName">getMinY</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getMinY</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getMinY.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getMaxY">
                <h4 class="methodName">getMaxY</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getMaxY</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getMaxY.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="includesRole">
                <h4 class="methodName">includesRole</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">includesRole</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">roleIndex</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method includesRole.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>roleIndex</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>