<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SystemChange (com.hypixel.hytale.component.data.change)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../overview-frame.html">Overview</a> &gt; 
            <a href="../../../../../../com/hypixel/hytale/component/data/change/package-summary.html">com.hypixel.hytale.component.data.change</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">SystemChange</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="SystemChange.html" class="type-link">SystemChange</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class SystemChange. Provides systemchange functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; SystemChange</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            <p>No fields documented.</p>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="SystemChange">
                <h4 class="methodName">SystemChange</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">SystemChange</span>
                    <span class="arguments">(<span class="param"><a href="ChangeType.html" class="type-link"><code>final ChangeType</code></a> <span class="param-name">type</span></span>, <span class="param"><a href="../../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <span class="param-name">system</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method SystemChange.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="ChangeType.html" class="type-link"><code>final ChangeType</code></a> <b>type</b></dd>
<dd><a href="../../system/ISystem.html" class="type-link"><code>final ISystem<ECS_TYPE></code></a> <b>system</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getType">
                <h4 class="methodName">getType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="ChangeType.html" class="type-link"><code>ChangeType</code></a></span>
                    <span class="memberName">getType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSystem">
                <h4 class="methodName">getSystem</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../system/ISystem.html" class="type-link"><code>ISystem<ECS_TYPE></code></a></span>
                    <span class="memberName">getSystem</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSystem.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="toString">
                <h4 class="methodName">toString</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">toString</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method toString.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>
        
        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>