<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEntityBufferView (com.hypixel.hytale.builtin.hytalegenerator.newsystem.views)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/builtin/hytalegenerator/newsystem/views/package-summary.html">com.hypixel.hytale.builtin.hytalegenerator.newsystem.views</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">NEntityBufferView</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="NEntityBufferView.html" class="type-link">NEntityBufferView</a> implements <a href="EntityContainer.html" class="type-link" data-class="EntityContainer"><code>EntityContainer</code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class NEntityBufferView. Provides nentitybufferview functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; NEntityBufferView</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">position_bufferGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3i</span>
                    <span class="memberName">position_bufferGrid</span>
                </div>
                <div class="block">
                    <p>Field position_bufferGrid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">buffer</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">NEntityBuffer</span>
                    <span class="memberName">buffer</span>
                </div>
                <div class="block">
                    <p>Field buffer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">thisBounds_bufferGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Bounds3i</span>
                    <span class="memberName">thisBounds_bufferGrid</span>
                </div>
                <div class="block">
                    <p>Field thisBounds_bufferGrid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">pos_bufferGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3i</span>
                    <span class="memberName">pos_bufferGrid</span>
                </div>
                <div class="block">
                    <p>Field pos_bufferGrid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">sourceBuffer</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">NEntityBuffer</span>
                    <span class="memberName">sourceBuffer</span>
                </div>
                <div class="block">
                    <p>Field sourceBuffer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">destinationBuffer</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">NEntityBuffer</span>
                    <span class="memberName">destinationBuffer</span>
                </div>
                <div class="block">
                    <p>Field destinationBuffer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entityPosition_voxelGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">entityPosition_voxelGrid</span>
                </div>
                <div class="block">
                    <p>Field entityPosition_voxelGrid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">transform</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">TransformComponent</span>
                    <span class="memberName">transform</span>
                </div>
                <div class="block">
                    <p>Field transform.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">holderPosition_voxelGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3d</span>
                    <span class="memberName">holderPosition_voxelGrid</span>
                </div>
                <div class="block">
                    <p>Field holderPosition_voxelGrid.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="NEntityBufferView">
                <h4 class="methodName">NEntityBufferView</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">NEntityBufferView</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final NBufferBundle.Access.View</code> <span class="param-name">bufferAccess</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method NEntityBufferView.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final NBufferBundle.Access.View</code> <b>bufferAccess</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="forEach">
                <h4 class="methodName">forEach</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">forEach</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final Consumer<EntityPlacementData></code> <span class="param-name">consumer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method forEach.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final Consumer<EntityPlacementData></code> <b>consumer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getBuffer_fromBufferGrid">
                <h4 class="methodName">getBuffer_fromBufferGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType"><a href="../bufferbundle/buffers/NEntityBuffer.html" class="type-link"><code>NEntityBuffer</code></a></span>
                    <span class="memberName">getBuffer_fromBufferGrid</span>
                    <span class="arguments">(<span class="param"><a href="../../../../protocol/Vector3i.html" class="type-link"><code>@Nonnull final Vector3i</code></a> <span class="param-name">position_bufferGrid</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getBuffer_fromBufferGrid.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../protocol/Vector3i.html" class="type-link"><code>@Nonnull final Vector3i</code></a> <b>position_bufferGrid</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="copyFrom">
                <h4 class="methodName">copyFrom</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">copyFrom</span>
                    <span class="arguments">(<span class="param"><a href="NEntityBufferView.html" class="type-link"><code>@Nonnull final NEntityBufferView</code></a> <span class="param-name">source</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method copyFrom.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="NEntityBufferView.html" class="type-link"><code>@Nonnull final NEntityBufferView</code></a> <b>source</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="addEntity">
                <h4 class="methodName">addEntity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">addEntity</span>
                    <span class="arguments">(<span class="param"><a href="../../props/entity/EntityPlacementData.html" class="type-link"><code>@Nonnull final EntityPlacementData</code></a> <span class="param-name">entityPlacementData</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addEntity.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../props/entity/EntityPlacementData.html" class="type-link"><code>@Nonnull final EntityPlacementData</code></a> <b>entityPlacementData</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="isInsideBuffer">
                <h4 class="methodName">isInsideBuffer</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isInsideBuffer</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">x</span></span>, <span class="param"><code>final int</code> <span class="param-name">y</span></span>, <span class="param"><code>final int</code> <span class="param-name">z</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method isInsideBuffer.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>x</b></dd>
<dd><code>final int</code> <b>y</b></dd>
<dd><code>final int</code> <b>z</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>