<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NVoxelBufferView (com.hypixel.hytale.builtin.hytalegenerator.newsystem.views)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/builtin/hytalegenerator/newsystem/views/package-summary.html">com.hypixel.hytale.builtin.hytalegenerator.newsystem.views</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">NVoxelBufferView</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="NVoxelBufferView.html" class="type-link">NVoxelBufferView</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class NVoxelBufferView. Provides nvoxelbufferview functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; NVoxelBufferView</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">thisBounds_bufferGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Bounds3i</span>
                    <span class="memberName">thisBounds_bufferGrid</span>
                </div>
                <div class="block">
                    <p>Field thisBounds_bufferGrid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">pos_bufferGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3i</span>
                    <span class="memberName">pos_bufferGrid</span>
                </div>
                <div class="block">
                    <p>Field pos_bufferGrid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">sourceBuffer</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">NVoxelBuffer<T></span>
                    <span class="memberName">sourceBuffer</span>
                </div>
                <div class="block">
                    <p>Field sourceBuffer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">destinationBuffer</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">NVoxelBuffer<T></span>
                    <span class="memberName">destinationBuffer</span>
                </div>
                <div class="block">
                    <p>Field destinationBuffer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">buffer</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">NVoxelBuffer<T></span>
                    <span class="memberName">buffer</span>
                </div>
                <div class="block">
                    <p>Field buffer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">positionInBuffer_voxelGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3i</span>
                    <span class="memberName">positionInBuffer_voxelGrid</span>
                </div>
                <div class="block">
                    <p>Field positionInBuffer_voxelGrid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">localBufferPosition_bufferGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Vector3i</span>
                    <span class="memberName">localBufferPosition_bufferGrid</span>
                </div>
                <div class="block">
                    <p>Field localBufferPosition_bufferGrid.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="NVoxelBufferView">
                <h4 class="methodName">NVoxelBufferView</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">NVoxelBufferView</span>
                    <span class="arguments">(<span class="param"><code>@Nonnull final NBufferBundle.Access.View</code> <span class="param-name">bufferAccess</span></span>, <span class="param"><code>@Nonnull final Class<T></code> <span class="param-name">voxelType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method NVoxelBufferView.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nonnull final NBufferBundle.Access.View</code> <b>bufferAccess</b></dd>
<dd><code>@Nonnull final Class<T></code> <b>voxelType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="copyFrom">
                <h4 class="methodName">copyFrom</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">copyFrom</span>
                    <span class="arguments">(<span class="param"><a href="NVoxelBufferView.html" class="type-link"><code>@Nonnull final NVoxelBufferView<T></code></a> <span class="param-name">source</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method copyFrom.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="NVoxelBufferView.html" class="type-link"><code>@Nonnull final NVoxelBufferView<T></code></a> <b>source</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="set">
                <h4 class="methodName">set</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">set</span>
                    <span class="arguments">(<span class="param"><code>final T</code> <span class="param-name">content</span></span>, <span class="param"><code>final int</code> <span class="param-name">x</span></span>, <span class="param"><code>final int</code> <span class="param-name">y</span></span>, <span class="param"><code>final int</code> <span class="param-name">z</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method set.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final T</code> <b>content</b></dd>
<dd><code>final int</code> <b>x</b></dd>
<dd><code>final int</code> <b>y</b></dd>
<dd><code>final int</code> <b>z</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="setOrigin">
                <h4 class="methodName">setOrigin</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setOrigin</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">x</span></span>, <span class="param"><code>final int</code> <span class="param-name">y</span></span>, <span class="param"><code>final int</code> <span class="param-name">z</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setOrigin.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>x</b></dd>
<dd><code>final int</code> <b>y</b></dd>
<dd><code>final int</code> <b>z</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getContent">
                <h4 class="methodName">getContent</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>T</code></span>
                    <span class="memberName">getContent</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">x</span></span>, <span class="param"><code>final int</code> <span class="param-name">y</span></span>, <span class="param"><code>final int</code> <span class="param-name">z</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getContent.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>x</b></dd>
<dd><code>final int</code> <b>y</b></dd>
<dd><code>final int</code> <b>z</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="replace">
                <h4 class="methodName">replace</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">replace</span>
                    <span class="arguments">(<span class="param"><code>final T</code> <span class="param-name">replacement</span></span>, <span class="param"><code>final int</code> <span class="param-name">x</span></span>, <span class="param"><code>final int</code> <span class="param-name">y</span></span>, <span class="param"><code>final int</code> <span class="param-name">z</span></span>, <span class="param"><code>@Nonnull final Predicate<T></code> <span class="param-name">mask</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method replace.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final T</code> <b>replacement</b></dd>
<dd><code>final int</code> <b>x</b></dd>
<dd><code>final int</code> <b>y</b></dd>
<dd><code>final int</code> <b>z</b></dd>
<dd><code>@Nonnull final Predicate<T></code> <b>mask</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="pasteFrom">
                <h4 class="methodName">pasteFrom</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">pasteFrom</span>
                    <span class="arguments">(<span class="param"><a href="../../datastructures/voxelspace/VoxelSpace.html" class="type-link"><code>@Nonnull final VoxelSpace<T></code></a> <span class="param-name">source</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method pasteFrom.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../datastructures/voxelspace/VoxelSpace.html" class="type-link"><code>@Nonnull final VoxelSpace<T></code></a> <b>source</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getOriginX">
                <h4 class="methodName">getOriginX</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getOriginX</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getOriginX.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getOriginY">
                <h4 class="methodName">getOriginY</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getOriginY</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getOriginY.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getOriginZ">
                <h4 class="methodName">getOriginZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getOriginZ</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getOriginZ.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getName">
                <h4 class="methodName">getName</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getName</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getName.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isInsideSpace">
                <h4 class="methodName">isInsideSpace</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isInsideSpace</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">x</span></span>, <span class="param"><code>final int</code> <span class="param-name">y</span></span>, <span class="param"><code>final int</code> <span class="param-name">z</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method isInsideSpace.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>x</b></dd>
<dd><code>final int</code> <b>y</b></dd>
<dd><code>final int</code> <b>z</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="forEach">
                <h4 class="methodName">forEach</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">forEach</span>
                    <span class="arguments">(<span class="param"><a href="../../datastructures/voxelspace/VoxelConsumer.html" class="type-link"><code>final VoxelConsumer<? super T></code></a> <span class="param-name">action</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method forEach.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../datastructures/voxelspace/VoxelConsumer.html" class="type-link"><code>final VoxelConsumer<? super T></code></a> <b>action</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="minX">
                <h4 class="methodName">minX</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">minX</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method minX.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="maxX">
                <h4 class="methodName">maxX</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">maxX</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method maxX.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="minY">
                <h4 class="methodName">minY</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">minY</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method minY.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="maxY">
                <h4 class="methodName">maxY</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">maxY</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method maxY.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="minZ">
                <h4 class="methodName">minZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">minZ</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method minZ.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="maxZ">
                <h4 class="methodName">maxZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">maxZ</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method maxZ.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="sizeX">
                <h4 class="methodName">sizeX</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">sizeX</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method sizeX.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="sizeY">
                <h4 class="methodName">sizeY</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">sizeY</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method sizeY.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="sizeZ">
                <h4 class="methodName">sizeZ</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">sizeZ</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method sizeZ.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getBuffer_fromVoxelGrid">
                <h4 class="methodName">getBuffer_fromVoxelGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType"><a href="../bufferbundle/buffers/NVoxelBuffer.html" class="type-link"><code>NVoxelBuffer<T></code></a></span>
                    <span class="memberName">getBuffer_fromVoxelGrid</span>
                    <span class="arguments">(<span class="param"><a href="../../../../protocol/Vector3i.html" class="type-link"><code>@Nonnull final Vector3i</code></a> <span class="param-name">position_voxelGrid</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getBuffer_fromVoxelGrid.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../protocol/Vector3i.html" class="type-link"><code>@Nonnull final Vector3i</code></a> <b>position_voxelGrid</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getBuffer_fromBufferGrid">
                <h4 class="methodName">getBuffer_fromBufferGrid</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType"><a href="../bufferbundle/buffers/NVoxelBuffer.html" class="type-link"><code>NVoxelBuffer<T></code></a></span>
                    <span class="memberName">getBuffer_fromBufferGrid</span>
                    <span class="arguments">(<span class="param"><a href="../../../../protocol/Vector3i.html" class="type-link"><code>@Nonnull final Vector3i</code></a> <span class="param-name">position_bufferGrid</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getBuffer_fromBufferGrid.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../protocol/Vector3i.html" class="type-link"><code>@Nonnull final Vector3i</code></a> <b>position_bufferGrid</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>