<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EntityTickingSystem (com.hypixel.hytale.component.system.tick)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../overview-frame.html">Overview</a> &gt;
            <a href="../../../../../../com/hypixel/hytale/component/system/tick/package-summary.html">com.hypixel.hytale.component.system.tick</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">EntityTickingSystem</h2>
    </div>
    
    <div class="content">
        <pre class="signature">abstract class <a href="EntityTickingSystem.html" class="type-link">EntityTickingSystem</a></pre>
        
        <div class="description">
            <div class="block">
                <p>System for handling entityticking mechanics. Systems contain game logic that operates on entities with specific component types.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; EntityTickingSystem</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">archetypeChunkSize</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">archetypeChunkSize</span>
                </div>
                <div class="block">
                    <p>Field archetypeChunkSize.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">task</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ParallelTask<SystemTaskData<ECS_TYPE>></span>
                    <span class="memberName">task</span>
                </div>
                <div class="block">
                    <p>Field task.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">systemTask</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ParallelRangeTask<SystemTaskData<ECS_TYPE>></span>
                    <span class="memberName">systemTask</span>
                </div>
                <div class="block">
                    <p>Field systemTask.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">system</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">EntityTickingSystem<ECS_TYPE></span>
                    <span class="memberName">system</span>
                </div>
                <div class="block">
                    <p>Field system.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">dt</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">float</span>
                    <span class="memberName">dt</span>
                </div>
                <div class="block">
                    <p>Field dt.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">archetypeChunk</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">ArchetypeChunk<ECS_TYPE></span>
                    <span class="memberName">archetypeChunk</span>
                </div>
                <div class="block">
                    <p>Field archetypeChunk.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">store</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Store<ECS_TYPE></span>
                    <span class="memberName">store</span>
                </div>
                <div class="block">
                    <p>Field store.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">commandBuffer</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">CommandBuffer<ECS_TYPE></span>
                    <span class="memberName">commandBuffer</span>
                </div>
                <div class="block">
                    <p>Field commandBuffer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">parallelTaskSize</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">parallelTaskSize</span>
                </div>
                <div class="block">
                    <p>Field parallelTaskSize.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">taskData</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">SystemTaskData<ECS_TYPE></span>
                    <span class="memberName">taskData</span>
                </div>
                <div class="block">
                    <p>Field taskData.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="maybeUseParallel">
                <h4 class="methodName">maybeUseParallel</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">maybeUseParallel</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">archetypeChunkSize</span></span>, <span class="param"><code>final int</code> <span class="param-name">taskCount</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method maybeUseParallel.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>archetypeChunkSize</b></dd>
<dd><code>final int</code> <b>taskCount</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="useParallel">
                <h4 class="methodName">useParallel</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">useParallel</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">archetypeChunkSize</span></span>, <span class="param"><code>final int</code> <span class="param-name">taskCount</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method useParallel.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>archetypeChunkSize</b></dd>
<dd><code>final int</code> <b>taskCount</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="isParallel">
                <h4 class="methodName">isParallel</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isParallel</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">archetypeChunkSize</span></span>, <span class="param"><code>final int</code> <span class="param-name">taskCount</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method isParallel.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>archetypeChunkSize</b></dd>
<dd><code>final int</code> <b>taskCount</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="tick">
                <h4 class="methodName">tick</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">tick</span>
                    <span class="arguments">(<span class="param"><code>final float</code> <span class="param-name">dt</span></span>, <span class="param"><a href="../..//ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <span class="param-name">archetypeChunk</span></span>, <span class="param"><a href="../..//Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <span class="param-name">store</span></span>, <span class="param"><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <span class="param-name">commandBuffer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method tick.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final float</code> <b>dt</b></dd>
<dd><a href="../..//ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <b>archetypeChunk</b></dd>
<dd><a href="../..//Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <b>store</b></dd>
<dd><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <b>commandBuffer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="doTick">
                <h4 class="methodName">doTick</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">doTick</span>
                    <span class="arguments">(<span class="param"><a href="EntityTickingSystem.html" class="type-link"><code>@Nonnull final EntityTickingSystem<ECS_TYPE></code></a> <span class="param-name">system</span></span>, <span class="param"><code>final float</code> <span class="param-name">dt</span></span>, <span class="param"><a href="../..//ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <span class="param-name">archetypeChunk</span></span>, <span class="param"><a href="../..//Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <span class="param-name">store</span></span>, <span class="param"><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <span class="param-name">commandBuffer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method doTick.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="EntityTickingSystem.html" class="type-link"><code>@Nonnull final EntityTickingSystem<ECS_TYPE></code></a> <b>system</b></dd>
<dd><code>final float</code> <b>dt</b></dd>
<dd><a href="../..//ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <b>archetypeChunk</b></dd>
<dd><a href="../..//Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <b>store</b></dd>
<dd><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <b>commandBuffer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="init">
                <h4 class="methodName">init</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">init</span>
                    <span class="arguments">(<span class="param"><a href="EntityTickingSystem.html" class="type-link"><code>final EntityTickingSystem<ECS_TYPE></code></a> <span class="param-name">system</span></span>, <span class="param"><code>final float</code> <span class="param-name">dt</span></span>, <span class="param"><a href="../..//ArchetypeChunk.html" class="type-link"><code>final ArchetypeChunk<ECS_TYPE></code></a> <span class="param-name">archetypeChunk</span></span>, <span class="param"><a href="../..//Store.html" class="type-link"><code>final Store<ECS_TYPE></code></a> <span class="param-name">store</span></span>, <span class="param"><a href="../..//CommandBuffer.html" class="type-link"><code>final CommandBuffer<ECS_TYPE></code></a> <span class="param-name">commandBuffer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method init.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="EntityTickingSystem.html" class="type-link"><code>final EntityTickingSystem<ECS_TYPE></code></a> <b>system</b></dd>
<dd><code>final float</code> <b>dt</b></dd>
<dd><a href="../..//ArchetypeChunk.html" class="type-link"><code>final ArchetypeChunk<ECS_TYPE></code></a> <b>archetypeChunk</b></dd>
<dd><a href="../..//Store.html" class="type-link"><code>final Store<ECS_TYPE></code></a> <b>store</b></dd>
<dd><a href="../..//CommandBuffer.html" class="type-link"><code>final CommandBuffer<ECS_TYPE></code></a> <b>commandBuffer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="accept">
                <h4 class="methodName">accept</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">accept</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">index</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method accept.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>index</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="clear">
                <h4 class="methodName">clear</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">clear</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clear.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="invokeParallelTask">
                <h4 class="methodName">invokeParallelTask</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">invokeParallelTask</span>
                    <span class="arguments">(<span class="param"><a href="../../task/ParallelTask.html" class="type-link"><code>@Nonnull final ParallelTask<SystemTaskData<ECS_TYPE>></code></a> <span class="param-name">parallelTask</span></span>, <span class="param"><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <span class="param-name">commandBuffer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method invokeParallelTask.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../task/ParallelTask.html" class="type-link"><code>@Nonnull final ParallelTask<SystemTaskData<ECS_TYPE>></code></a> <b>parallelTask</b></dd>
<dd><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <b>commandBuffer</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>