<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChunkSpawnData (com.hypixel.hytale.server.spawning.world.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/server/spawning/world/component/package-summary.html">com.hypixel.hytale.server.spawning.world.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">ChunkSpawnData</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="ChunkSpawnData.html" class="type-link">ChunkSpawnData</a> implements <a href="../../../../component/Component.html" class="type-link" data-class="Component"><code>Component<ChunkStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class ChunkSpawnData. Provides chunkspawndata functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; ChunkSpawnData</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">started</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">started</span>
                </div>
                <div class="block">
                    <p>Field started.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">lastSpawn</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">long</span>
                    <span class="memberName">lastSpawn</span>
                </div>
                <div class="block">
                    <p>Field lastSpawn.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkEnvironmentSpawnData</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">ChunkEnvironmentSpawnData</span>
                    <span class="memberName">chunkEnvironmentSpawnData</span>
                </div>
                <div class="block">
                    <p>Field chunkEnvironmentSpawnData.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="ChunkSpawnData">
                <h4 class="methodName">ChunkSpawnData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">ChunkSpawnData</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method ChunkSpawnData.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>ChunkSpawnData></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getChunkEnvironmentSpawnDataMap">
                <h4 class="methodName">getChunkEnvironmentSpawnDataMap</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>Int2ObjectMap<ChunkEnvironmentSpawnData></code></span>
                    <span class="memberName">getChunkEnvironmentSpawnDataMap</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getChunkEnvironmentSpawnDataMap.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isStarted">
                <h4 class="methodName">isStarted</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isStarted</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isStarted.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setStarted">
                <h4 class="methodName">setStarted</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setStarted</span>
                    <span class="arguments">(<span class="param"><code>final boolean</code> <span class="param-name">started</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setStarted.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final boolean</code> <b>started</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="setLastSpawn">
                <h4 class="methodName">setLastSpawn</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setLastSpawn</span>
                    <span class="arguments">(<span class="param"><code>final long</code> <span class="param-name">lastSpawn</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setLastSpawn.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final long</code> <b>lastSpawn</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getLastSpawn">
                <h4 class="methodName">getLastSpawn</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>long</code></span>
                    <span class="memberName">getLastSpawn</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getLastSpawn.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../component/Component.html" class="type-link"><code>Component<ChunkStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getEnvironmentSpawnData">
                <h4 class="methodName">getEnvironmentSpawnData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="..//ChunkEnvironmentSpawnData.html" class="type-link"><code>ChunkEnvironmentSpawnData</code></a></span>
                    <span class="memberName">getEnvironmentSpawnData</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">environment</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getEnvironmentSpawnData.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>environment</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="isOnSpawnCooldown">
                <h4 class="methodName">isOnSpawnCooldown</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isOnSpawnCooldown</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isOnSpawnCooldown.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>