<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpawnJobData (com.hypixel.hytale.server.spawning.world.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/server/spawning/world/component/package-summary.html">com.hypixel.hytale.server.spawning.world.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">SpawnJobData</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="SpawnJobData.html" class="type-link">SpawnJobData</a> implements <a href="../../../../component/Component.html" class="type-link" data-class="Component"><code>Component<ChunkStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class SpawnJobData. Provides spawnjobdata functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; SpawnJobData</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">environmentIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">environmentIndex</span>
                </div>
                <div class="block">
                    <p>Field environmentIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">totalColumnsTested</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">totalColumnsTested</span>
                </div>
                <div class="block">
                    <p>Field totalColumnsTested.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">totalColumnsBlocked</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">totalColumnsBlocked</span>
                </div>
                <div class="block">
                    <p>Field totalColumnsBlocked.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">budgetUsed</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">budgetUsed</span>
                </div>
                <div class="block">
                    <p>Field budgetUsed.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">totalBudgetUsed</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">totalBudgetUsed</span>
                </div>
                <div class="block">
                    <p>Field totalBudgetUsed.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">spawnFrozen</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">spawnFrozen</span>
                </div>
                <div class="block">
                    <p>Field spawnFrozen.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">roleIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">roleIndex</span>
                </div>
                <div class="block">
                    <p>Field roleIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">spawnConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">SpawnWrapper<?></span>
                    <span class="memberName">spawnConfig</span>
                </div>
                <div class="block">
                    <p>Field spawnConfig.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">spawnConfigIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">spawnConfigIndex</span>
                </div>
                <div class="block">
                    <p>Field spawnConfigIndex.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">flockSize</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">flockSize</span>
                </div>
                <div class="block">
                    <p>Field flockSize.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">flockAsset</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">FlockAsset</span>
                    <span class="memberName">flockAsset</span>
                </div>
                <div class="block">
                    <p>Field flockAsset.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">environment</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Environment</span>
                    <span class="memberName">environment</span>
                </div>
                <div class="block">
                    <p>Field environment.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">spansTried</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">spansTried</span>
                </div>
                <div class="block">
                    <p>Field spansTried.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">spansSuccess</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">spansSuccess</span>
                </div>
                <div class="block">
                    <p>Field spansSuccess.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">ignoreFullyPopulated</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">ignoreFullyPopulated</span>
                </div>
                <div class="block">
                    <p>Field ignoreFullyPopulated.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">terminated</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">terminated</span>
                </div>
                <div class="block">
                    <p>Field terminated.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="SpawnJobData">
                <h4 class="methodName">SpawnJobData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">SpawnJobData</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method SpawnJobData.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>SpawnJobData></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getJobId">
                <h4 class="methodName">getJobId</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getJobId</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getJobId.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getEnvironmentIndex">
                <h4 class="methodName">getEnvironmentIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getEnvironmentIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getEnvironmentIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getTotalColumnsTested">
                <h4 class="methodName">getTotalColumnsTested</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getTotalColumnsTested</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getTotalColumnsTested.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="incrementTotalColumnsTested">
                <h4 class="methodName">incrementTotalColumnsTested</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">incrementTotalColumnsTested</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method incrementTotalColumnsTested.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getTotalColumnsBlocked">
                <h4 class="methodName">getTotalColumnsBlocked</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getTotalColumnsBlocked</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getTotalColumnsBlocked.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="incrementTotalColumnsBlocked">
                <h4 class="methodName">incrementTotalColumnsBlocked</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">incrementTotalColumnsBlocked</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method incrementTotalColumnsBlocked.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getBudgetUsed">
                <h4 class="methodName">getBudgetUsed</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getBudgetUsed</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getBudgetUsed.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setBudgetUsed">
                <h4 class="methodName">setBudgetUsed</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setBudgetUsed</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">budgetUsed</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setBudgetUsed.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>budgetUsed</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="adjustBudgetUsed">
                <h4 class="methodName">adjustBudgetUsed</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">adjustBudgetUsed</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">amount</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method adjustBudgetUsed.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>amount</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getTotalBudgetUsed">
                <h4 class="methodName">getTotalBudgetUsed</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getTotalBudgetUsed</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getTotalBudgetUsed.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isSpawnFrozen">
                <h4 class="methodName">isSpawnFrozen</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isSpawnFrozen</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isSpawnFrozen.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setSpawnFrozen">
                <h4 class="methodName">setSpawnFrozen</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setSpawnFrozen</span>
                    <span class="arguments">(<span class="param"><code>final boolean</code> <span class="param-name">spawnFrozen</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setSpawnFrozen.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final boolean</code> <b>spawnFrozen</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getSpawningContext">
                <h4 class="methodName">getSpawningContext</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../..//SpawningContext.html" class="type-link"><code>SpawningContext</code></a></span>
                    <span class="memberName">getSpawningContext</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSpawningContext.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getRoleIndex">
                <h4 class="methodName">getRoleIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getRoleIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getRoleIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSpawnConfig">
                <h4 class="methodName">getSpawnConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../wrappers/SpawnWrapper.html" class="type-link"><code>SpawnWrapper<?></code></a></span>
                    <span class="memberName">getSpawnConfig</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSpawnConfig.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSpawnConfigIndex">
                <h4 class="methodName">getSpawnConfigIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getSpawnConfigIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSpawnConfigIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getFlockSize">
                <h4 class="methodName">getFlockSize</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getFlockSize</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getFlockSize.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getFlockAsset">
                <h4 class="methodName">getFlockAsset</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../flock/config/FlockAsset.html" class="type-link"><code>FlockAsset</code></a></span>
                    <span class="memberName">getFlockAsset</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getFlockAsset.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSuppressionSpanHelper">
                <h4 class="methodName">getSuppressionSpanHelper</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../suppression/SuppressionSpanHelper.html" class="type-link"><code>SuppressionSpanHelper</code></a></span>
                    <span class="memberName">getSuppressionSpanHelper</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSuppressionSpanHelper.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getEnvironment">
                <h4 class="methodName">getEnvironment</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../core/asset/type/environment/config/Environment.html" class="type-link"><code>Environment</code></a></span>
                    <span class="memberName">getEnvironment</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getEnvironment.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSpansTried">
                <h4 class="methodName">getSpansTried</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getSpansTried</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSpansTried.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="incrementSpansTried">
                <h4 class="methodName">incrementSpansTried</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">incrementSpansTried</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method incrementSpansTried.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSpansSuccess">
                <h4 class="methodName">getSpansSuccess</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getSpansSuccess</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSpansSuccess.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="incrementSpansSuccess">
                <h4 class="methodName">incrementSpansSuccess</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">incrementSpansSuccess</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method incrementSpansSuccess.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getRejectionMap">
                <h4 class="methodName">getRejectionMap</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>Object2IntMap<SpawnRejection></code></span>
                    <span class="memberName">getRejectionMap</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getRejectionMap.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isIgnoreFullyPopulated">
                <h4 class="methodName">isIgnoreFullyPopulated</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isIgnoreFullyPopulated</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isIgnoreFullyPopulated.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setIgnoreFullyPopulated">
                <h4 class="methodName">setIgnoreFullyPopulated</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setIgnoreFullyPopulated</span>
                    <span class="arguments">(<span class="param"><code>final boolean</code> <span class="param-name">ignoreFullyPopulated</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setIgnoreFullyPopulated.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final boolean</code> <b>ignoreFullyPopulated</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="isTerminated">
                <h4 class="methodName">isTerminated</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isTerminated</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isTerminated.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="terminate">
                <h4 class="methodName">terminate</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">terminate</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method terminate.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="init">
                <h4 class="methodName">init</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">init</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">roleIndex</span></span>, <span class="param"><a href="../../../core/asset/type/environment/config/Environment.html" class="type-link"><code>final Environment</code></a> <span class="param-name">environment</span></span>, <span class="param"><code>final int</code> <span class="param-name">environmentIndex</span></span>, <span class="param"><a href="../../wrappers/SpawnWrapper.html" class="type-link"><code>@Nonnull final SpawnWrapper<?></code></a> <span class="param-name">spawnConfig</span></span>, <span class="param"><a href="../../../flock/config/FlockAsset.html" class="type-link"><code>final FlockAsset</code></a> <span class="param-name">flockDefinition</span></span>, <span class="param"><code>final int</code> <span class="param-name">flockSize</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method init.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>roleIndex</b></dd>
<dd><a href="../../../core/asset/type/environment/config/Environment.html" class="type-link"><code>final Environment</code></a> <b>environment</b></dd>
<dd><code>final int</code> <b>environmentIndex</b></dd>
<dd><a href="../../wrappers/SpawnWrapper.html" class="type-link"><code>@Nonnull final SpawnWrapper<?></code></a> <b>spawnConfig</b></dd>
<dd><a href="../../../flock/config/FlockAsset.html" class="type-link"><code>final FlockAsset</code></a> <b>flockDefinition</b></dd>
<dd><code>final int</code> <b>flockSize</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../component/Component.html" class="type-link"><code>Component<ChunkStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>