<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorldSpawnData (com.hypixel.hytale.server.spawning.world.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/server/spawning/world/component/package-summary.html">com.hypixel.hytale.server.spawning.world.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">WorldSpawnData</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="WorldSpawnData.html" class="type-link">WorldSpawnData</a> implements <a href="../../../../component/Resource.html" class="type-link" data-class="Resource"><code>Resource<EntityStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class WorldSpawnData. Provides worldspawndata functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; WorldSpawnData</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">actualNPCs</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">actualNPCs</span>
                </div>
                <div class="block">
                    <p>Field actualNPCs.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">expectedNPCs</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">double</span>
                    <span class="memberName">expectedNPCs</span>
                </div>
                <div class="block">
                    <p>Field expectedNPCs.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">expectedNPCsInEmptyEnvironments</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">double</span>
                    <span class="memberName">expectedNPCsInEmptyEnvironments</span>
                </div>
                <div class="block">
                    <p>Field expectedNPCsInEmptyEnvironments.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">unspawnable</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">unspawnable</span>
                </div>
                <div class="block">
                    <p>Field unspawnable.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">chunkCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">chunkCount</span>
                </div>
                <div class="block">
                    <p>Field chunkCount.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">segmentCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">segmentCount</span>
                </div>
                <div class="block">
                    <p>Field segmentCount.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">activeSpawnJobs</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">activeSpawnJobs</span>
                </div>
                <div class="block">
                    <p>Field activeSpawnJobs.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">trackedCountFromJobs</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">trackedCountFromJobs</span>
                </div>
                <div class="block">
                    <p>Field trackedCountFromJobs.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">totalSpawnJobBudgetUsed</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">totalSpawnJobBudgetUsed</span>
                </div>
                <div class="block">
                    <p>Field totalSpawnJobBudgetUsed.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">totalSpawnJobsCompleted</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">int</span>
                    <span class="memberName">totalSpawnJobsCompleted</span>
                </div>
                <div class="block">
                    <p>Field totalSpawnJobsCompleted.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">worldTimeResource</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">WorldTimeResource</span>
                    <span class="memberName">worldTimeResource</span>
                </div>
                <div class="block">
                    <p>Field worldTimeResource.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">newWorldEnvironmentSpawnData</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">WorldEnvironmentSpawnData</span>
                    <span class="memberName">newWorldEnvironmentSpawnData</span>
                </div>
                <div class="block">
                    <p>Field newWorldEnvironmentSpawnData.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">envSpawnParameters</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">EnvironmentSpawnParameters</span>
                    <span class="memberName">envSpawnParameters</span>
                </div>
                <div class="block">
                    <p>Field envSpawnParameters.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">env</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Environment</span>
                    <span class="memberName">env</span>
                </div>
                <div class="block">
                    <p>Field env.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">moonPhase</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">moonPhase</span>
                </div>
                <div class="block">
                    <p>Field moonPhase.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">stats</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">WorldEnvironmentSpawnData</span>
                    <span class="memberName">stats</span>
                </div>
                <div class="block">
                    <p>Field stats.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="WorldSpawnData">
                <h4 class="methodName">WorldSpawnData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">WorldSpawnData</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method WorldSpawnData.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getResourceType">
                <h4 class="methodName">getResourceType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>WorldSpawnData></code></span>
                    <span class="memberName">getResourceType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getResourceType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getActualNPCs">
                <h4 class="methodName">getActualNPCs</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getActualNPCs</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getActualNPCs.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getExpectedNPCs">
                <h4 class="methodName">getExpectedNPCs</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>double</code></span>
                    <span class="memberName">getExpectedNPCs</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getExpectedNPCs.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getExpectedNPCsInEmptyEnvironments">
                <h4 class="methodName">getExpectedNPCsInEmptyEnvironments</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>double</code></span>
                    <span class="memberName">getExpectedNPCsInEmptyEnvironments</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getExpectedNPCsInEmptyEnvironments.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isUnspawnable">
                <h4 class="methodName">isUnspawnable</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isUnspawnable</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isUnspawnable.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setUnspawnable">
                <h4 class="methodName">setUnspawnable</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setUnspawnable</span>
                    <span class="arguments">(<span class="param"><code>final boolean</code> <span class="param-name">unspawnable</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setUnspawnable.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final boolean</code> <b>unspawnable</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getChunkCount">
                <h4 class="methodName">getChunkCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getChunkCount</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getChunkCount.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="adjustChunkCount">
                <h4 class="methodName">adjustChunkCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">adjustChunkCount</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">amount</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method adjustChunkCount.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>amount</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="adjustSegmentCount">
                <h4 class="methodName">adjustSegmentCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">adjustSegmentCount</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">amount</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method adjustSegmentCount.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>amount</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getSpiralIterator">
                <h4 class="methodName">getSpiralIterator</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../math/iterator/SpiralIterator.html" class="type-link"><code>SpiralIterator</code></a></span>
                    <span class="memberName">getSpiralIterator</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSpiralIterator.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="averageSegmentCount">
                <h4 class="methodName">averageSegmentCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>double</code></span>
                    <span class="memberName">averageSegmentCount</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method averageSegmentCount.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getActiveSpawnJobs">
                <h4 class="methodName">getActiveSpawnJobs</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getActiveSpawnJobs</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getActiveSpawnJobs.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="adjustActiveSpawnJobs">
                <h4 class="methodName">adjustActiveSpawnJobs</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">adjustActiveSpawnJobs</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">amount</span></span>, <span class="param"><code>final int</code> <span class="param-name">trackedCount</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method adjustActiveSpawnJobs.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>amount</b></dd>
<dd><code>final int</code> <b>trackedCount</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getTrackedCountFromJobs">
                <h4 class="methodName">getTrackedCountFromJobs</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getTrackedCountFromJobs</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getTrackedCountFromJobs.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getTotalSpawnJobBudgetUsed">
                <h4 class="methodName">getTotalSpawnJobBudgetUsed</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getTotalSpawnJobBudgetUsed</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getTotalSpawnJobBudgetUsed.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getTotalSpawnJobsCompleted">
                <h4 class="methodName">getTotalSpawnJobsCompleted</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getTotalSpawnJobsCompleted</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getTotalSpawnJobsCompleted.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="addCompletedSpawnJob">
                <h4 class="methodName">addCompletedSpawnJob</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">addCompletedSpawnJob</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">budgetUsed</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method addCompletedSpawnJob.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>budgetUsed</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getWorldEnvironmentSpawnData">
                <h4 class="methodName">getWorldEnvironmentSpawnData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="..//WorldEnvironmentSpawnData.html" class="type-link"><code>WorldEnvironmentSpawnData</code></a></span>
                    <span class="memberName">getWorldEnvironmentSpawnData</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">environmentIndex</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getWorldEnvironmentSpawnData.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>environmentIndex</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getOrCreateWorldEnvironmentSpawnData">
                <h4 class="methodName">getOrCreateWorldEnvironmentSpawnData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="..//WorldEnvironmentSpawnData.html" class="type-link"><code>WorldEnvironmentSpawnData</code></a></span>
                    <span class="memberName">getOrCreateWorldEnvironmentSpawnData</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">environmentIndex</span></span>, <span class="param"><code>@Nonnull final World</code> <span class="param-name">world</span></span>, <span class="param"><a href="../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <span class="param-name">componentAccessor</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getOrCreateWorldEnvironmentSpawnData.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>environmentIndex</b></dd>
<dd><code>@Nonnull final World</code> <b>world</b></dd>
<dd><a href="../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <b>componentAccessor</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getWorldEnvironmentSpawnDataIndexes">
                <h4 class="methodName">getWorldEnvironmentSpawnDataIndexes</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int[]</code></span>
                    <span class="memberName">getWorldEnvironmentSpawnDataIndexes</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getWorldEnvironmentSpawnDataIndexes.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="updateSpawnability">
                <h4 class="methodName">updateSpawnability</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">updateSpawnability</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method updateSpawnability.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="forEachEnvironmentSpawnData">
                <h4 class="methodName">forEachEnvironmentSpawnData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">forEachEnvironmentSpawnData</span>
                    <span class="arguments">(<span class="param"><code>final Consumer<WorldEnvironmentSpawnData></code> <span class="param-name">consumer</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method forEachEnvironmentSpawnData.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final Consumer<WorldEnvironmentSpawnData></code> <b>consumer</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="trackNPC">
                <h4 class="methodName">trackNPC</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">trackNPC</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">environmentIndex</span></span>, <span class="param"><code>final int</code> <span class="param-name">roleIndex</span></span>, <span class="param"><code>final int</code> <span class="param-name">npcCount</span></span>, <span class="param"><code>@Nonnull final World</code> <span class="param-name">world</span></span>, <span class="param"><a href="../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <span class="param-name">componentAccessor</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method trackNPC.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>environmentIndex</b></dd>
<dd><code>final int</code> <b>roleIndex</b></dd>
<dd><code>final int</code> <b>npcCount</b></dd>
<dd><code>@Nonnull final World</code> <b>world</b></dd>
<dd><a href="../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <b>componentAccessor</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="untrackNPC">
                <h4 class="methodName">untrackNPC</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">untrackNPC</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">environmentIndex</span></span>, <span class="param"><code>final int</code> <span class="param-name">roleIndex</span></span>, <span class="param"><code>final int</code> <span class="param-name">npcCount</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method untrackNPC.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>environmentIndex</b></dd>
<dd><code>final int</code> <b>roleIndex</b></dd>
<dd><code>final int</code> <b>npcCount</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="recalculateWorldCount">
                <h4 class="methodName">recalculateWorldCount</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">recalculateWorldCount</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method recalculateWorldCount.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="queueUnspawnableChunk">
                <h4 class="methodName">queueUnspawnableChunk</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">queueUnspawnableChunk</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">environmentIndex</span></span>, <span class="param"><code>final long</code> <span class="param-name">chunkIndex</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method queueUnspawnableChunk.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>environmentIndex</b></dd>
<dd><code>final long</code> <b>chunkIndex</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="UnspawnableEntry">
                <h4 class="methodName">UnspawnableEntry</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>new</code></span>
                    <span class="memberName">UnspawnableEntry</span>
                    <span class="arguments">(<span class="param">environmentIndex</span>, <span class="param">chunkIndex</span>)</span>
                </div>
                <div class="block">
                    <p>Method UnspawnableEntry.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>environmentIndex</code> <b>environmentIndex</b></dd>
<dd><code>chunkIndex</code> <b>chunkIndex</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="hasUnprocessedUnspawnableChunks">
                <h4 class="methodName">hasUnprocessedUnspawnableChunks</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">hasUnprocessedUnspawnableChunks</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method hasUnprocessedUnspawnableChunks.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="nextUnspawnableChunk">
                <h4 class="methodName">nextUnspawnableChunk</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>UnspawnableEntry</code></span>
                    <span class="memberName">nextUnspawnableChunk</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method nextUnspawnableChunk.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../component/Resource.html" class="type-link"><code>Resource<EntityStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getEnvironmentIndex">
                <h4 class="methodName">getEnvironmentIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>int</code></span>
                    <span class="memberName">getEnvironmentIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getEnvironmentIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getChunkIndex">
                <h4 class="methodName">getChunkIndex</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>long</code></span>
                    <span class="memberName">getChunkIndex</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getChunkIndex.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>