<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teleporter (com.hypixel.hytale.builtin.adventure.teleporter.component)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../com/hypixel/hytale/builtin/adventure/teleporter/component/package-summary.html">com.hypixel.hytale.builtin.adventure.teleporter.component</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">Teleporter</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="Teleporter.html" class="type-link">Teleporter</a> implements <a href="../../../../component/Component.html" class="type-link" data-class="Component"><code>Component<ChunkStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class Teleporter. Provides teleporter functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; Teleporter</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">worldUuid</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">UUID</span>
                    <span class="memberName">worldUuid</span>
                </div>
                <div class="block">
                    <p>Field worldUuid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">transform</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Transform</span>
                    <span class="memberName">transform</span>
                </div>
                <div class="block">
                    <p>Field transform.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">relativeMask</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">byte</span>
                    <span class="memberName">relativeMask</span>
                </div>
                <div class="block">
                    <p>Field relativeMask.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">warp</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">String</span>
                    <span class="memberName">warp</span>
                </div>
                <div class="block">
                    <p>Field warp.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">ownedWarp</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">String</span>
                    <span class="memberName">ownedWarp</span>
                </div>
                <div class="block">
                    <p>Field ownedWarp.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">isCustomName</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">boolean</span>
                    <span class="memberName">isCustomName</span>
                </div>
                <div class="block">
                    <p>Field isCustomName.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">warpNameWordListKey</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">String</span>
                    <span class="memberName">warpNameWordListKey</span>
                </div>
                <div class="block">
                    <p>Field warpNameWordListKey.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">teleporter</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Teleporter</span>
                    <span class="memberName">teleporter</span>
                </div>
                <div class="block">
                    <p>Field teleporter.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">targetWarp</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Warp</span>
                    <span class="memberName">targetWarp</span>
                </div>
                <div class="block">
                    <p>Field targetWarp.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">world</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">World</span>
                    <span class="memberName">world</span>
                </div>
                <div class="block">
                    <p>Field world.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">teleportTransform</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Transform</span>
                    <span class="memberName">teleportTransform</span>
                </div>
                <div class="block">
                    <p>Field teleportTransform.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">teleportTransform2</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Transform</span>
                    <span class="memberName">teleportTransform2</span>
                </div>
                <div class="block">
                    <p>Field teleportTransform2.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="Teleporter">
                <h4 class="methodName">Teleporter</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">Teleporter</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method Teleporter.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>Teleporter></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getWorldUuid">
                <h4 class="methodName">getWorldUuid</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>UUID</code></span>
                    <span class="memberName">getWorldUuid</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getWorldUuid.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setWorldUuid">
                <h4 class="methodName">setWorldUuid</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setWorldUuid</span>
                    <span class="arguments">(<span class="param"><code>@Nullable final UUID</code> <span class="param-name">worldUuid</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setWorldUuid.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nullable final UUID</code> <b>worldUuid</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getTransform">
                <h4 class="methodName">getTransform</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../protocol/Transform.html" class="type-link"><code>Transform</code></a></span>
                    <span class="memberName">getTransform</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getTransform.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setTransform">
                <h4 class="methodName">setTransform</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setTransform</span>
                    <span class="arguments">(<span class="param"><a href="../../../../protocol/Transform.html" class="type-link"><code>@Nullable final Transform</code></a> <span class="param-name">transform</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setTransform.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../protocol/Transform.html" class="type-link"><code>@Nullable final Transform</code></a> <b>transform</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getRelativeMask">
                <h4 class="methodName">getRelativeMask</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>byte</code></span>
                    <span class="memberName">getRelativeMask</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getRelativeMask.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setRelativeMask">
                <h4 class="methodName">setRelativeMask</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setRelativeMask</span>
                    <span class="arguments">(<span class="param"><code>final byte</code> <span class="param-name">relativeMask</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setRelativeMask.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final byte</code> <b>relativeMask</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getWarp">
                <h4 class="methodName">getWarp</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getWarp</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getWarp.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setWarp">
                <h4 class="methodName">setWarp</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setWarp</span>
                    <span class="arguments">(<span class="param"><code>@Nullable final String</code> <span class="param-name">warp</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setWarp.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>@Nullable final String</code> <b>warp</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getOwnedWarp">
                <h4 class="methodName">getOwnedWarp</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getOwnedWarp</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getOwnedWarp.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setOwnedWarp">
                <h4 class="methodName">setOwnedWarp</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setOwnedWarp</span>
                    <span class="arguments">(<span class="param"><code>final String</code> <span class="param-name">ownedWarp</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setOwnedWarp.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final String</code> <b>ownedWarp</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="hasOwnedWarp">
                <h4 class="methodName">hasOwnedWarp</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">hasOwnedWarp</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method hasOwnedWarp.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setWarpNameWordListKey">
                <h4 class="methodName">setWarpNameWordListKey</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setWarpNameWordListKey</span>
                    <span class="arguments">(<span class="param"><code>final String</code> <span class="param-name">warpNameWordListKey</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setWarpNameWordListKey.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final String</code> <b>warpNameWordListKey</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="isCustomName">
                <h4 class="methodName">isCustomName</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isCustomName</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isCustomName.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setIsCustomName">
                <h4 class="methodName">setIsCustomName</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setIsCustomName</span>
                    <span class="arguments">(<span class="param"><code>final boolean</code> <span class="param-name">customName</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setIsCustomName.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final boolean</code> <b>customName</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getWarpNameWordListKey">
                <h4 class="methodName">getWarpNameWordListKey</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getWarpNameWordListKey</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getWarpNameWordListKey.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getWarpNameWordList">
                <h4 class="methodName">getWarpNameWordList</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../server/core/asset/type/wordlist/WordList.html" class="type-link"><code>WordList</code></a></span>
                    <span class="memberName">getWarpNameWordList</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getWarpNameWordList.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="isValid">
                <h4 class="methodName">isValid</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isValid</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isValid.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../component/Component.html" class="type-link"><code>Component<ChunkStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="toTeleport">
                <h4 class="methodName">toTeleport</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../server/core/modules/entity/teleport/Teleport.html" class="type-link"><code>Teleport</code></a></span>
                    <span class="memberName">toTeleport</span>
                    <span class="arguments">(<span class="param"><a href="../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <span class="param-name">currentPosition</span></span>, <span class="param"><a href="../../../../protocol/Vector3f.html" class="type-link"><code>@Nonnull final Vector3f</code></a> <span class="param-name">currentRotation</span></span>, <span class="param"><a href="../../../../protocol/Vector3i.html" class="type-link"><code>@Nonnull final Vector3i</code></a> <span class="param-name">blockPosition</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method toTeleport.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../protocol/Vector3d.html" class="type-link"><code>@Nonnull final Vector3d</code></a> <b>currentPosition</b></dd>
<dd><a href="../../../../protocol/Vector3f.html" class="type-link"><code>@Nonnull final Vector3f</code></a> <b>currentRotation</b></dd>
<dd><a href="../../../../protocol/Vector3i.html" class="type-link"><code>@Nonnull final Vector3i</code></a> <b>blockPosition</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>