<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AttitudeView (com.hypixel.hytale.server.npc.blackboard.view.attitude)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../../../com/hypixel/hytale/server/npc/blackboard/view/attitude/package-summary.html">com.hypixel.hytale.server.npc.blackboard.view.attitude</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">AttitudeView</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="AttitudeView.html" class="type-link">AttitudeView</a> extends <a href="..//PrioritisedProviderView.html" class="type-link" data-class="PrioritisedProviderView"><code>PrioritisedProviderView</code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class AttitudeView. Provides attitudeview functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; PrioritisedProviderView &gt; AttitudeView</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">worldSupport</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">WorldSupport</span>
                    <span class="memberName">worldSupport</span>
                </div>
                <div class="block">
                    <p>Field worldSupport.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">entityWorld</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">World</span>
                    <span class="memberName">entityWorld</span>
                </div>
                <div class="block">
                    <p>Field entityWorld.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">blackboardResource</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">Blackboard</span>
                    <span class="memberName">blackboardResource</span>
                </div>
                <div class="block">
                    <p>Field blackboardResource.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="AttitudeView">
                <h4 class="methodName">AttitudeView</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">AttitudeView</span>
                    <span class="arguments">(<span class="param"><code>final World</code> <span class="param-name">world</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method AttitudeView.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final World</code> <b>world</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getAttitude">
                <h4 class="methodName">getAttitude</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../../core/asset/type/attitude/Attitude.html" class="type-link"><code>Attitude</code></a></span>
                    <span class="memberName">getAttitude</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../role/Role.html" class="type-link"><code>@Nonnull final Role</code></a> <span class="param-name">self</span></span>, <span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">target</span></span>, <span class="param"><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <span class="param-name">componentAccessor</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getAttitude.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../role/Role.html" class="type-link"><code>@Nonnull final Role</code></a> <b>self</b></dd>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>target</b></dd>
<dd><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <b>componentAccessor</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="isOutdated">
                <h4 class="methodName">isOutdated</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isOutdated</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<EntityStore></code></a> <span class="param-name">store</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method isOutdated.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../../../component/Store.html" class="type-link"><code>@Nonnull final Store<EntityStore></code></a> <b>store</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="getUpdatedView">
                <h4 class="methodName">getUpdatedView</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="AttitudeView.html" class="type-link"><code>AttitudeView</code></a></span>
                    <span class="memberName">getUpdatedView</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <span class="param-name">componentAccessor</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method getUpdatedView.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../../../component/ComponentAccessor.html" class="type-link"><code>@Nonnull final ComponentAccessor<EntityStore></code></a> <b>componentAccessor</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="initialiseEntity">
                <h4 class="methodName">initialiseEntity</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">initialiseEntity</span>
                    <span class="arguments">(<span class="param"><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <span class="param-name">ref</span></span>, <span class="param"><a href="../../../entities/NPCEntity.html" class="type-link"><code>@Nonnull final NPCEntity</code></a> <span class="param-name">npcComponent</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method initialiseEntity.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../../../component/Ref.html" class="type-link"><code>@Nonnull final Ref<EntityStore></code></a> <b>ref</b></dd>
<dd><a href="../../../entities/NPCEntity.html" class="type-link"><code>@Nonnull final NPCEntity</code></a> <b>npcComponent</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="cleanup">
                <h4 class="methodName">cleanup</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">cleanup</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method cleanup.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="onWorldRemoved">
                <h4 class="methodName">onWorldRemoved</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">onWorldRemoved</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method onWorldRemoved.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>