<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EntityDataSystem (com.hypixel.hytale.component.system.data)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../overview-frame.html">Overview</a> &gt;
            <a href="../../../../../../com/hypixel/hytale/component/system/data/package-summary.html">com.hypixel.hytale.component.system.data</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">EntityDataSystem</h2>
    </div>
    
    <div class="content">
        <pre class="signature">abstract class <a href="EntityDataSystem.html" class="type-link">EntityDataSystem</a></pre>
        
        <div class="description">
            <div class="block">
                <p>System for handling entitydata mechanics. Systems contain game logic that operates on entities with specific component types.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; EntityDataSystem</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">size</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">size</span>
                </div>
                <div class="block">
                    <p>Field size.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">archetypeChunk</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">ArchetypeChunk<ECS_TYPE></span>
                    <span class="memberName">archetypeChunk</span>
                </div>
                <div class="block">
                    <p>Field archetypeChunk.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">store</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Store<ECS_TYPE></span>
                    <span class="memberName">store</span>
                </div>
                <div class="block">
                    <p>Field store.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">commandBuffer</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">CommandBuffer<ECS_TYPE></span>
                    <span class="memberName">commandBuffer</span>
                </div>
                <div class="block">
                    <p>Field commandBuffer.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">query</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">Q</span>
                    <span class="memberName">query</span>
                </div>
                <div class="block">
                    <p>Field query.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">parallelTaskSize</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">int</span>
                    <span class="memberName">parallelTaskSize</span>
                </div>
                <div class="block">
                    <p>Field parallelTaskSize.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="isParallel">
                <h4 class="methodName">isParallel</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">isParallel</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method isParallel.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="fetch">
                <h4 class="methodName">fetch</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">fetch</span>
                    <span class="arguments">(<span class="param"><a href="../..//ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <span class="param-name">archetypeChunk</span></span>, <span class="param"><a href="../..//Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <span class="param-name">store</span></span>, <span class="param"><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <span class="param-name">commandBuffer</span></span>, <span class="param"><code>final Q</code> <span class="param-name">query</span></span>, <span class="param"><code>final List<R></code> <span class="param-name">results</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method fetch.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../..//ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <b>archetypeChunk</b></dd>
<dd><a href="../..//Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <b>store</b></dd>
<dd><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <b>commandBuffer</b></dd>
<dd><code>final Q</code> <b>query</b></dd>
<dd><code>final List<R></code> <b>results</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="doFetch">
                <h4 class="methodName">doFetch</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">doFetch</span>
                    <span class="arguments">(<span class="param"><a href="EntityDataSystem.html" class="type-link"><code>@Nonnull final EntityDataSystem<ECS_TYPE, Q, R></code></a> <span class="param-name">system</span></span>, <span class="param"><a href="../..//ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <span class="param-name">archetypeChunk</span></span>, <span class="param"><a href="../..//Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <span class="param-name">store</span></span>, <span class="param"><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <span class="param-name">commandBuffer</span></span>, <span class="param"><code>final Q</code> <span class="param-name">query</span></span>, <span class="param"><code>final List<R></code> <span class="param-name">results</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method doFetch.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="EntityDataSystem.html" class="type-link"><code>@Nonnull final EntityDataSystem<ECS_TYPE, Q, R></code></a> <b>system</b></dd>
<dd><a href="../..//ArchetypeChunk.html" class="type-link"><code>@Nonnull final ArchetypeChunk<ECS_TYPE></code></a> <b>archetypeChunk</b></dd>
<dd><a href="../..//Store.html" class="type-link"><code>@Nonnull final Store<ECS_TYPE></code></a> <b>store</b></dd>
<dd><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <b>commandBuffer</b></dd>
<dd><code>final Q</code> <b>query</b></dd>
<dd><code>final List<R></code> <b>results</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="SystemTaskData">
                <h4 class="methodName">SystemTaskData</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">SystemTaskData</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method SystemTaskData.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="init">
                <h4 class="methodName">init</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">init</span>
                    <span class="arguments">(<span class="param"><a href="EntityDataSystem.html" class="type-link"><code>final EntityDataSystem<ECS_TYPE, Q, R></code></a> <span class="param-name">system</span></span>, <span class="param"><a href="../..//ArchetypeChunk.html" class="type-link"><code>final ArchetypeChunk<ECS_TYPE></code></a> <span class="param-name">archetypeChunk</span></span>, <span class="param"><a href="../..//Store.html" class="type-link"><code>final Store<ECS_TYPE></code></a> <span class="param-name">store</span></span>, <span class="param"><a href="../..//CommandBuffer.html" class="type-link"><code>final CommandBuffer<ECS_TYPE></code></a> <span class="param-name">commandBuffer</span></span>, <span class="param"><code>final Q</code> <span class="param-name">query</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method init.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="EntityDataSystem.html" class="type-link"><code>final EntityDataSystem<ECS_TYPE, Q, R></code></a> <b>system</b></dd>
<dd><a href="../..//ArchetypeChunk.html" class="type-link"><code>final ArchetypeChunk<ECS_TYPE></code></a> <b>archetypeChunk</b></dd>
<dd><a href="../..//Store.html" class="type-link"><code>final Store<ECS_TYPE></code></a> <b>store</b></dd>
<dd><a href="../..//CommandBuffer.html" class="type-link"><code>final CommandBuffer<ECS_TYPE></code></a> <b>commandBuffer</b></dd>
<dd><code>final Q</code> <b>query</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="accept">
                <h4 class="methodName">accept</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">accept</span>
                    <span class="arguments">(<span class="param"><code>final int</code> <span class="param-name">index</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method accept.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final int</code> <b>index</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="clear">
                <h4 class="methodName">clear</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">clear</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clear.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="invokeParallelTask">
                <h4 class="methodName">invokeParallelTask</h4>
                <div class="memberSignature">
                    <span class="modifiers">static</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">invokeParallelTask</span>
                    <span class="arguments">(<span class="param"><a href="../../task/ParallelTask.html" class="type-link"><code>@Nonnull final ParallelTask<SystemTaskData<ECS_TYPE, Q, R>></code></a> <span class="param-name">parallelTask</span></span>, <span class="param"><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <span class="param-name">commandBuffer</span></span>, <span class="param"><code>@Nonnull final List<R></code> <span class="param-name">results</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method invokeParallelTask.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../task/ParallelTask.html" class="type-link"><code>@Nonnull final ParallelTask<SystemTaskData<ECS_TYPE, Q, R>></code></a> <b>parallelTask</b></dd>
<dd><a href="../..//CommandBuffer.html" class="type-link"><code>@Nonnull final CommandBuffer<ECS_TYPE></code></a> <b>commandBuffer</b></dd>
<dd><code>@Nonnull final List<R></code> <b>results</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>