<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PortalDevice (com.hypixel.hytale.builtin.portals.components)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../com/hypixel/hytale/builtin/portals/components/package-summary.html">com.hypixel.hytale.builtin.portals.components</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">PortalDevice</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="PortalDevice.html" class="type-link">PortalDevice</a> implements <a href="../../../component/Component.html" class="type-link" data-class="Component"><code>Component<ChunkStore></code></a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class PortalDevice. Provides portaldevice functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; PortalDevice</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">config</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">PortalDeviceConfig</span>
                    <span class="memberName">config</span>
                </div>
                <div class="block">
                    <p>Field config.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">baseBlockTypeKey</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">String</span>
                    <span class="memberName">baseBlockTypeKey</span>
                </div>
                <div class="block">
                    <p>Field baseBlockTypeKey.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">destinationWorldUuid</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">UUID</span>
                    <span class="memberName">destinationWorldUuid</span>
                </div>
                <div class="block">
                    <p>Field destinationWorldUuid.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">world</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">World</span>
                    <span class="memberName">world</span>
                </div>
                <div class="block">
                    <p>Field world.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">portal</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">PortalDevice</span>
                    <span class="memberName">portal</span>
                </div>
                <div class="block">
                    <p>Field portal.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="getComponentType">
                <h4 class="methodName">getComponentType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>PortalDevice></code></span>
                    <span class="memberName">getComponentType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getComponentType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="PortalDevice">
                <h4 class="methodName">PortalDevice</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>private</code></span>
                    <span class="memberName">PortalDevice</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method PortalDevice.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getConfig">
                <h4 class="methodName">getConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="PortalDeviceConfig.html" class="type-link"><code>PortalDeviceConfig</code></a></span>
                    <span class="memberName">getConfig</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getConfig.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getBaseBlockTypeKey">
                <h4 class="methodName">getBaseBlockTypeKey</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getBaseBlockTypeKey</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getBaseBlockTypeKey.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getBaseBlockType">
                <h4 class="methodName">getBaseBlockType</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../protocol/BlockType.html" class="type-link"><code>BlockType</code></a></span>
                    <span class="memberName">getBaseBlockType</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getBaseBlockType.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getDestinationWorldUuid">
                <h4 class="methodName">getDestinationWorldUuid</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>UUID</code></span>
                    <span class="memberName">getDestinationWorldUuid</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getDestinationWorldUuid.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getDestinationWorld">
                <h4 class="methodName">getDestinationWorld</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>World</code></span>
                    <span class="memberName">getDestinationWorld</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getDestinationWorld.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="setDestinationWorld">
                <h4 class="methodName">setDestinationWorld</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>void</code></span>
                    <span class="memberName">setDestinationWorld</span>
                    <span class="arguments">(<span class="param"><code>final World</code> <span class="param-name">world</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method setDestinationWorld.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>final World</code> <b>world</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="clone">
                <h4 class="methodName">clone</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><a href="../../../component/Component.html" class="type-link"><code>Component<ChunkStore></code></a></span>
                    <span class="memberName">clone</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method clone.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>