<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PortalDeviceConfig (com.hypixel.hytale.builtin.portals.components)</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../stylesheet.css" title="Style">
    <script type="text/javascript" src="../../../../../../script.js"></script>
</head>
<body>
    <nav class="navHeader">
        <span class="navBar">
            <a href="../../../../../../overview.html">Overview</a> &gt;
            <a href="../../../../../../com/hypixel/hytale/builtin/portals/components/package-summary.html">com.hypixel.hytale.builtin.portals.components</a> &gt; Class
        </span>
    </nav>
    
    <div class="searchBox">
        <input type="text" id="searchBox" placeholder="Search classes, methods, fields... (Ctrl+F)" autocomplete="off">
        <div id="searchResults" class="searchResults"></div>
    </div>
    
    <div class="header">
        <h2 class="title">PortalDeviceConfig</h2>
    </div>
    
    <div class="content">
        <pre class="signature">public class <a href="PortalDeviceConfig.html" class="type-link">PortalDeviceConfig</a></pre>
        
        <div class="description">
            <div class="block">
                <p>Class PortalDeviceConfig. Provides portaldeviceconfig functionality for the Hytale server.</p>
            </div>
        </div>
        
        <div class="inheritance">
            <h3>java.lang.Object &gt; PortalDeviceConfig</h3>
        </div>
        
        <div class="summary">
            <h3>Field Summary</h3>
            
            <div class="fieldDetail">
                <h4 class="fieldName">onState</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">String</span>
                    <span class="memberName">onState</span>
                </div>
                <div class="block">
                    <p>Field onState.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">spawningState</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">String</span>
                    <span class="memberName">spawningState</span>
                </div>
                <div class="block">
                    <p>Field spawningState.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">offState</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">String</span>
                    <span class="memberName">offState</span>
                </div>
                <div class="block">
                    <p>Field offState.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">returnBlock</h4>
                <div class="memberSignature">
                    <span class="modifiers">private</span>
                    <span class="returnType">String</span>
                    <span class="memberName">returnBlock</span>
                </div>
                <div class="block">
                    <p>Field returnBlock.</p>
                </div>
            </div>
            <div class="fieldDetail">
                <h4 class="fieldName">state</h4>
                <div class="memberSignature">
                    <span class="modifiers">final</span>
                    <span class="returnType">BlockType</span>
                    <span class="memberName">state</span>
                </div>
                <div class="block">
                    <p>Field state.</p>
                </div>
            </div>
        </div>
        
        <div class="details">
            <h3>Method Detail</h3>
            
            <div class="methodDetail" id="PortalDeviceConfig">
                <h4 class="methodName">PortalDeviceConfig</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>public</code></span>
                    <span class="memberName">PortalDeviceConfig</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method PortalDeviceConfig.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getOnState">
                <h4 class="methodName">getOnState</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getOnState</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getOnState.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getSpawningState">
                <h4 class="methodName">getSpawningState</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getSpawningState</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getSpawningState.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getOffState">
                <h4 class="methodName">getOffState</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getOffState</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getOffState.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getReturnBlock">
                <h4 class="methodName">getReturnBlock</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String</code></span>
                    <span class="memberName">getReturnBlock</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getReturnBlock.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="getBlockStates">
                <h4 class="methodName">getBlockStates</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>String[]</code></span>
                    <span class="memberName">getBlockStates</span>
                    <span class="arguments">()</span>
                </div>
                <div class="block">
                    <p>Method getBlockStates.</p>
                </div>
                <dl class="notes">
                    
                </dl>
            </div>
            <div class="methodDetail" id="areBlockStatesValid">
                <h4 class="methodName">areBlockStatesValid</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>boolean</code></span>
                    <span class="memberName">areBlockStatesValid</span>
                    <span class="arguments">(<span class="param"><a href="../../../protocol/BlockType.html" class="type-link"><code>final BlockType</code></a> <span class="param-name">baseBlockType</span></span>)</span>
                </div>
                <div class="block">
                    <p>Method areBlockStatesValid.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><a href="../../../protocol/BlockType.html" class="type-link"><code>final BlockType</code></a> <b>baseBlockType</b></dd>

                </dl>
            </div>
            <div class="methodDetail" id="placed">
                <h4 class="methodName">placed</h4>
                <div class="memberSignature">
                    <span class="modifiers">public</span>
                    <span class="returnType"><code>be</code></span>
                    <span class="memberName">placed</span>
                    <span class="arguments">(<span class="param">once</span>)</span>
                </div>
                <div class="block">
                    <p>Method placed.</p>
                </div>
                <dl class="notes">
                    <dt>Parameters:</dt>
<dd><code>once</code> <b>once</b></dd>

                </dl>
            </div>
        </div>

        
    </div>
    
    <footer>
        <small>This project is not affiliated with Hytale. Generated by Hytale Javadoc Generator.</small>
    </footer>
</body>
</html>